---
---

{% assign folderfilter = page.path | replace: "/index.html" , "" %}

{% assign path = page.path | split:"/" %}

{% for item in path %}
> {{item}}
{% endfor %}

{{page.path}}

Architecture wiki. Notes and musings on cities, space and the built environment.

{% assign folder1 = site.pages | where_exp: "item" , "item.path contains 'wiki/architecture'"%}
{% for item in folder1 %}
{{item.title}}

{% if item.path contains "index.html" %}
Found index.html! - at {{item.path}}
{% endif %}

{% endfor %}

{% for image in site.static_files %}
    {% if image.path contains folderfilter %}
        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
    {% endif %}
{% endfor %}