html{
  padding:0px;
  margin:0px;
}

body{
  font-family:'Neuton';
  font-weight:300;
  padding:0px;
  margin:0px;
  color:#212121;
}

/* Colors from here: http://www.materialpalette.com/green/deep-orange */

.dark-primary-color    { background: #388E3C; }
.default-primary-color { background: #4CAF50; }
.light-primary-color   { background: #C8E6C9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF5722; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

a {
  color:#388E3C;
  text-decoration: none;
 }
