html{
    font-family:"raleway";
    color: #212121;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

.tcblack{color: #212121;}

brand{color: #212121;}

brand:after{
    display: block;
    content: '';
    width: 50px;
    border-bottom: 8px solid #00ff00;
    position: absolute;
    left: 3px;
    top: 22px;
    z-index: -1;
}

.mobilemenu{
    display:none;
}

.navigation a {
    color: #212121;
    box-shadow: inset 0 -9px 0 -1px #00ff00;
    -webkit-transition: padding 100ms;
    -moz-transition: padding 100ms;
    -ms-transition: padding 100ms;
    -o-transition: padding 100ms;
    transition: padding 100ms;
}

.navigation a:hover {
    padding-bottom: 5px;
}

.tombox{
  position:relative;
  border:4px solid #00ff00;
  height:500px;
  max-width:800px
}

.tomboxinner{
    position:absolute;
    width:450px;
    height:600px;
    left:-470px;
    top:-54px;
    z-index:-1;
}
.tomboxinner img{
  height:100%;
}

.tcsectionheader{
    font-size:40px;
    line-height:30px;
    
}

.contactbox a{
text-decoration: none;
    border: 4px solid #00ff00;
    padding: 20px;
    -webkit-transition: padding 100ms;
    -moz-transition: padding 100ms;
    -ms-transition: padding 100ms;
    -o-transition: padding 100ms;
    transition: padding 100ms;
}

.contactbox a:hover {
    padding: 30px;
}

ul a:hover, ol p:hover, p a:hover {
    border-bottom: 4px solid #00ff00;
}

ul a, ol a, p a, form a, .mobilemenu a {
    text-decoration: none;
    color: #212121;
    border-bottom: 2px solid #00ff00;
    transition: ease-in .05s border-bottom;
}

blockquote {
    border-left: 2px solid #00ff00;
    padding-left: 10px;
    font-style: italic;
    margin-left: 10px;
}

.postcontainer h2, .postcontainer h3{
    padding-top: 1rem;
}

.postcontainer img{
    max-width:150%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.postcontainer iframe{
padding-top: 30px;
    padding-bottom: 30px;
}

#copytext{
        cursor: pointer;
}

.tcgrey{
    background-color: #f3f3f3;
}

.footnotes{
    color:grey;
    font-size:12px;
}

footer{
    min-height:300px;
}

.dottedgreenarrow{
    width:100px;
    border-top:2px dashed #00ff00;
}

.dottedgreenarrow:before{
    position: absolute;
    content: '';
    bottom: -10px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
}

.dottedgreenarrow:after{
    position: absolute;
    content: '';
    bottom: -10px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
}