html{
  margin:0px;
  padding:0px;
  font-family:'raleway';
}


body{
  color:#212121;
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

.wrapper{
  min-height: 100%;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

ul, li, p{
  font-size:20px;
  line-height:35px;
  -webkit-font-smoothing: initial;
    font-smoothing: initial;
  }

ul a, ol a, p a {
  text-decoration: none;
  color:#212121;
  border-bottom:1px solid #00ff00;
  transition:ease-in .05s border-bottom;
 }

p a:hover{
  border-bottom:4px solid #00ff00;
}

 header{
   width:100%;
   font-family:'raleway';
   font-size:25px;
   font-weight:600;
   margin-top:20px;
   margin-bottom:20px;
 }

header .logo{
  height:100px;
}

header a{
  color:#212121;
}

.navigation{
  float:right;
  margin-top:35px;
}

.navigation a{
  display:inline-block;
  float:right;
  margin-left:50px;
  text-decoration: none;
  color:#212121;
  box-shadow: inset 0 -8px 0 #00ff00;
  -webkit-transition: padding 100ms;
  -moz-transition: padding 100ms;
  -ms-transition: padding 100ms;
  -o-transition: padding 100ms;
  transition: padding 100ms; 
}

.navigation a:hover{
  padding-bottom:5px;
}

brand{
font-size:30px;
font-weight:600;
display:inline-block;
margin-top:25px;
position:relative;
}

brand:after{
display: block;
    content: '';
    width: 54px;
    border-bottom: 4px solid #00ff00;
    position: absolute;
    left: 6px;
    top: 33px;
    z-index: -1;
}

hr{
  width:50px;
  margin:auto;
  margin-top:70px;
  margin-bottom:70px;
  clear:both;
}



.greenunderline{
  box-shadow: inset 0 -25px 0 #00ff00;
}


.threebox {
    float: left;
    width: 300px;
    padding: 50px;
    padding-top:0px;
    text-align:left;
}

.threebox h2 img{
  height:50px;
}

.threebox h2:after{
  content:'';
  width:50px;
  border-bottom:8px solid #00ff00;
  display:block;
  margin-top:15px;
}

.threebox p{
  text-align:left;
}

.quotebox{
  font-size:30px;
  line-height:40px;
  text-align:center;
  margin:auto;
  max-width:800px;
}

.quotebox:before{
  content:open-quote;
  font-family:'Georgia, serif';
  font-size:60px;
  font-weight:bold;
  color:#00ff00;
}

.quotebox:after{
  content:close-quote;
  font-family:'Georgia, serif';
  font-size:60px;
  font-weight:bold;
  color:#00ff00;
}


.tombox{
  width:90%;
  max-width:800px;
  margin:auto;
  border:4px solid #00ff00;
  position:relative;
  margin-bottom:200px;
  text-align:center;
  margin-top:50px;
}

.tombox img{
  position:absolute;
  left:-100px;
  top:20px;
  width:400px;
  z-index:-1;
}

.tombox h2{
  padding-left:300px;
  font-size:50px;
  padding-top:20px;
}

.tombox p{
  margin-left:300px;
  padding:5px;
  padding-left:10px;
  padding-right:10px;
  
}

.clients{
  height:75px;
  padding:25px;
  vertical-align:middle;
}

.clientscomplex{
  height:60px;
}

.contactbox{
padding-top:20px;
}

.contactbox a{
  text-decoration:none;
  color:#212121;
  border:4px solid #00ff00;
  padding:20px;
    -webkit-transition: padding 100ms;
  -moz-transition: padding 100ms;
  -ms-transition: padding 100ms;
  -o-transition: padding 100ms;
  transition: padding 100ms;
}

.contactbox a:hover{
  padding:30px;
}


/* footer syle */

footer{
  width:100%;
  background-color:#f3f3f3;
  min-height:200px;
  text-align:center;
  color:#434343;
  margin-top:100px;
  font-size:14px;
  text-align:center;
  padding-top:100px;
  padding-bottom:50px;
  position:relative;
}

footer .threebox p{
  font-size:15px;
  text-align:center;
}

footer brand{
  position:absolute;
  top:20px;
  margin-left:-27px;
  }

/* page styling */



/* blog page styling */

.posttitle a{
  color:#212121;
  text-decoration:none;
}


/* blog post styling */

.postcontainer{
  width:100%;
  max-width:685px;
  margin-left:100px;
  margin-top:100px;
}

.postcontainer img{
  margin-left:-100px;
  max-width:1200px;
  padding-top:20px;
  padding-bottom:20px;
}

.posttitle{
font-size:60px;
font-weight:800;
margin-bottom:15px;
}

.posttitle:after{
  content:'';
    width: 50px;
    display: block;
    border-bottom: 8px solid #00ff00;
    margin-left: -10px;
    margin-top:5px;
}

.subtitle{
font-size:30px;
font-weight:300;
}

.dateline{
font-size:14px;
text-transform:uppercase;
color:grey;
padding-top:40px;
padding-bottom:20px;
}

.postcontainer h2{
  padding-top:30px;
}

blockquote{
  border-left:4px solid #00ff00;
  padding-left:5px;
  font-style:italic;
}