html{
    font-family:"raleway";
    color: #212121;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

body{
    counter-reset: sidenote-counter;
}

.tcblack{color: #212121;}

brand{color: #212121;}

.tomgreen{color: #00ff00}

brand:after{
    display: block;
    content: '';
    width: 50px;
    border-bottom: 8px solid #00ff00;
    position: absolute;
    left: 3px;
    top: 22px;
    z-index: -1;
}

.mobilemenu{
    display:none;
}

.navigation a{
    text-decoration: none;
    color: #212121;
}

.tombox{
  position:relative;
  border:4px solid #00ff00;
  height:500px;
  max-width:800px
}

.tomboxinner{
    position:absolute;
    width:450px;
    height:600px;
    left:-470px;
    top:-54px;
    z-index:-1;
}
.tomboxinner img{
  height:100%;
}

.tcsectionheader{
    font-size:40px;
    line-height:30px;
    
}

.contactbox a{
text-decoration: none;
    border: 4px solid #00ff00;
    padding: 20px;
    -webkit-transition: padding 100ms;
    -moz-transition: padding 100ms;
    -ms-transition: padding 100ms;
    -o-transition: padding 100ms;
    transition: padding 100ms;
}

.contactbox a:hover {
    padding: 30px;
}

ul a:hover, ol a:hover, p a:hover {
    box-shadow: inset 0 -24px 0 rgba(0,255,0,0.4);}

ul a, ol a, p a, form a, .mobilemenu a, .next, .previous, h3 a, h4 a {
    text-decoration: none;
    color: #212121;
    box-shadow: inset 0 -6px 0 rgba(0,255,0,0.4);
    transition: ease-in .05s border-bottom;
}

blockquote {
    background: #f3f3f3;
    margin: 0px;
    padding: 20px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    font-family:"georgia"
  }

  blockquote:after {
    visibility: hidden;
    color: #111;
    content: close-quote;
    font-size: 4em;
    line-height: 0;
    vertical-align: -0.4em;
  }

  blockquote p {
    display: inline;
  }

.postcontainer{
    word-wrap:break-word;
}

.postcontainer h2, .postcontainer h3{
    padding-top: 2rem;
}

.subtitle{
    padding-top:0px !important;
}

.postcontainer p{
    line-height:1.6em !important;
}

.postcontainer li{
padding:5px;
}

.postcontainer img{
    max-width:150%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.postcontainer iframe{
padding-top: 30px;
    padding-bottom: 30px;
}

/* Sidenote syltes from tufte CSS */

.sidenote, .marginnote { float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative; }

.sidenote-number { counter-increment: sidenote-counter; }

.sidenote-number:after, .sidenote:before { position: relative;
                      vertical-align: baseline; }

.sidenote-number:after { content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem; }

.sidenote:before { content: counter(sidenote-counter) " ";
font-size: 1rem;
top: -0.5rem; }

input.margin-toggle { display: none; }

label.sidenote-number { display: inline; 
                        color:#03a9f4;
                        text-decoration:underline;
                        }

label.margin-toggle:not(.sidenote-number) { display: none; }

#copytext{
        cursor: pointer;
}

.tcgrey{
    background-color: #f3f3f3;
}

.footnotes{
    color:grey;
    font-size:14px;
}

footer{
    min-height:300px;
}

.dottedgreenarrow{
    border-top:2px dashed #00ff00;
    margin-top:10px;
    margin-bottom:10px;
    position:relative;
}

.dottedgreenarrow::before{
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #00ff00;
}

.dottedgreenarrow::after{
    position: absolute;
    content: '';
    bottom: -4px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #00ff00;
}

.wikigreen{
    border-top:1px solid #00ff00;
    border-bottom:1px solid #00ff00;
}

.fontinconsolata{
    font-family:'Inconsolata';
    word-wrap:break-word;
}

/* Menu CSS */

.hamburger{
    padding:0px 0px;
}

.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
    height: 2px;
    width: 30px;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
    background-color: white;
}

.hamburger.is-active:hover {
    opacity: 1;
}

.slides ul li{
    list-style:none;
}

.tommenu{
    background-color:rgba(0,0,0,0.6);
  }
  
  
  .slides {
    display:flex;
    overflow-x: auto;
    margin-top:20%;
    height:80%;
    width:100%;
    
    scroll-behavior: smooth;
    
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
  }
  
  .slides > div {
    flex-shrink: 0;
    width: 75%;
    height: 100%;
    background: white;
    position: relative;
    
    justify-content: center;
    align-items: center;
    
    margin-right:-5%;
    margin-left:10%;
    scroll-snap-align: center;
  }
  
  .slides > div > a{
    color:black;
    text-decoration:none;
  }
  
  .slides > div:nth-child(1){
    border: 2px solid #00ff00;
  }
  
  .slides > div:nth-child(2):before{
  content: "Latest posts:";
    margin-top:-15%;
    display:block;
    color:white;
    font-size:20px;
    margin-bottom:5%;
    font-weight:bold;
  }
  
  .slides > div:not(:first-child){
    height:90%;
    margin-top:10%;
  }
  
  .scrolltext{
    bottom:66px;
  }
  
.scrolltext span{
    color: #212121;
    box-shadow: inset 0 -6px 0 rgba(0,255,0,0.4);
    transition: ease-in .05s border-bottom;
}

  .rightarrow{
      background: #f3f3f3;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    box-shadow: 2px 2px 5px #888888;
    display:inline-block;
    position:absolute;
    bottom:50px;
    right:-25px;
    z-index:10;
  }
  
  .rightarrow i{
      color: #000;
        display: table-cell;
        vertical-align: middle; 
        text-align: center; 
        height: 50px;
        width: 50px;  
  }