@media (min-width: 1025px) {

.body{
  font-size:25px;
  line-height:35px;
}

.topnav{
  width:100%;
  border-top:15px solid #388E3C;
  background-color:#4CAF50;
  height:50px;
}

h1{
  font-size:45px;
  text-align:center;
}

h2{
  font-size:35px;
  text-align:center;
}

p{
  font-size:25px;
  line-height:35px;
}

.welcomebox{
  width:500px;
  padding:50px;
  padding-top:100px;
  margin:auto;
}


.blogcontent{
  width:650px;
  margin:auto;
}

blockquote{
  border-left:10px solid #4CAF50;
  padding-left:10px;
  font-size:25px;
  line-height:35px;
  margin-left:-10px;
}

p iframe{
  margin:0px !important;
}

}
