@media (min-width: 1025px) {

html{
  border-left:10px solid #4CAF50;
  min-height:100%;
}

.desktophidden{
  display:none;
}

.welcomewrapper{
  position:absolute;
  top:50%;
  left:50%;
  width:600px;
  margin-top:-300px;
}

.welcomebox{
  height:675px;
  width:600px;
  line-height:35px;
  font-size:30px;
  margin-left:-300px;
  font-family:'Neuton';
  font-weight:300;
}

.pacifico{
  font-family:'Pacifico';
  font-size:50px;
  line-height:50px;
  margin-top:20px;
  text-align:right;
  color:#4CAF50;
  display:block;
}

.header{
  display:inline-block;
  font-size:30px;
  cursor: pointer;
  cursor: hand;
}

.topnav{
  width:1000px;
  height:75px;
  text-align:center;
  margin:auto;
  margin-top:75px;
}

.topnav span{
  color:#4CAF50;
  font-size:20px;
  font-weight:600;
}

.topnav span:nth-child(2) {
  margin-left:80px;
  margin-right:80px;
}

.topnav span a{
  color:#4CAF50;
}

.coverimage{
  width:100%;
  max-width:2000px;
  text-align:center;
  margin:auto;
}

.coverimage img{
  width:100%;
}


h1{
  font-size:55px;
  text-align:center;
  font-family:'Neuton';
  font-weight:300;
  width:800px;
  margin-left:-75px;
  margin-bottom:75px;
}

h2{
  font-size:35px;
  text-align:center;
  font-weight:400;
}

.subtitle{
  margin-top:-50px;
  margin-bottom:75px;
  font-weight:200;
}

.date{
  text-align:center;
  text-transform: uppercase;
}

p, ul, li, ol{
  font-size:25px;
  line-height:35px;
}

p img{
  display:block;
  margin:auto;
}


.blogcontent{
  width:650px;
  margin:auto;
  padding-bottom:150px;
}

blockquote{
  border-left:2px solid #4CAF50;
  padding-left:10px;
  font-size:25px;
  line-height:35px;
}

p iframe{
  margin:0px !important;
}

.imgonly{
  margin: 0 -35%;
  width: 170%;
  text-align: center;
}

.imgonly img{
  max-width: 100%;
  margin: auto;
}

.footer{
  width:100%;
  text-align:center;
  padding-bottom:40px;
}

.footer a{
  color:#4CAF50;
  font-size:20px;
  font-weight:600;
}




}
