@media (min-width: 1025px) {

.body{
  font-size:25px;
  line-height:35px;
}

p{
  font-size:25px;
  line-height:35px;
}

.welcomebox{
  width:500px;
  padding:50px;
  padding-top:100px;
  margin:auto;
}


.blogcontent{
  width:650px;
  margin:auto;
}

blockquote{
  border-left:5px solid #FF5722;
  padding-left:10px;
  margin-left:-20px;
  font-size:25px;
  line-height:35px;
  font-style:italic;
}



}
