@media (max-width: 1024px) {

html{
    border-top:10px solid #4CAF50;
    width:100%;
  }

.mobilehidden{
  display:none;
}

.container{
  width:90%;
  margin:auto;
}

  .pacifico{
    font-family:'Pacifico';
    font-size:30px;
    line-height:30px;
    color:#4CAF50;
  }

.header{
    font-size:30px;
    text-align:center;
  }
  
  .header a{
  color:#4CAF50;
}

.navigation{
  position:absolute;
  top:0px;
  width:100%;
  height:100%;
  padding-top:40%;
  background-color:#4CAF50;
  z-index:2;
  text-align:center;
}

  .topnav{
    width:100%;
    text-align:center;
    margin-top:40px;
  }

  .navigation span{
    width:100%;
    color:white;
    font-size:40px;
    line-height:60px;
    display:block;
  }

  .navigation span a{
    color:white;
  }

  .navigation .close{
    padding-top:40px;
  }

.introtext{
  font-size:30px;
  line-height:40px;
  font-family:'raleway';
  font-weight:200;
  width:90%;
  margin:auto;
  padding-top:20px;
  padding-bottom:20px;
}

hr{
  width:80%;
}

.threebox{
  width:90%;
  padding:20px;
}

.threebox img{
  width:50%;
  margin:auto;
  display:block;
}

.threebox h2{
  font-family:'raleway';
  font-size:40px;
  margin:0px;
  padding:0px;
  text-transform:uppercase;
}

.threebox p{
  font-size:20px;
  line-height:28px;
}

.clients{
  display:block;
  margin:auto;
  width:90%;
}

.coverimage{
  width:100%;
  height:400px;
  overflow:hidden;
}

.coverimage img{
  height:400px;
  margin-left:-50%;
}

  h1{
    font-size:45px;
    line-height:50px;
    text-align:center;
    font-family:'Neutonlight';
  }

  h2{
    font-size:25px;
    text-align:center;
    font-family:'Neutonlight';
  }


.subtitle{
  font-family:"neutonextralight";
  font-size:20px;
  text-align:center;
}

.date{
  text-align:center;
  text-transform: uppercase;
  font-weight:200;
}

  p, ul, li, ol{
    font-size:20px;
    line-height:28px;
  }

.footnotes p, .footnotes ul, .footnotes ol{
  font-size:15px;
  font-style:italic;
}

  p img{
    display:block;
    margin:auto;
    width:100%;
  }


  .blogcontent{
    width:90%;
    margin:auto;
    padding-bottom:150px;
    max-width:600px;
  }

.blogcontent ul{
   list-style: none; /* Remove list bullets */
   padding:0;
   margin:0;
   padding-left: 16px;
   text-indent: -16px;
}

.blogcontent li { 
    padding-left: 16px; 
    padding-top:5px;
}

.blogcontent ul>li:before {
    content: "-"; /* Insert content that looks like bullets */
    padding-right: 8px;
}

  blockquote{
    border-left:2px solid #4CAF50;
    padding-left:10px;
    font-size:15px;
    line-height:25px;
  }

  p iframe{
    margin:0px !important;
  }

  .imgonly{
    width:108%;
    margin-left:-4%;
  }

  .imgonly img{
    width:100%;
  }

.slider{
  width: 100%;
  text-align: center;
  position:relative;
  margin-bottom:60px;
}

.slider img{
  max-width: 100%;
  margin: auto;
  display:none;
}

.slider img:first-of-type{
  display:inline;
}

.slider .prev, .next{
  position:absolute;
  bottom:-50px;
}

.slider .prev{
  left:20%;
}

.slider .next{
  left:60%;
}


  .footer{
    width:100%;
    text-align:center;
    padding-bottom:40px;
  }

  .footer a{
    color:#4CAF50;
    font-size:20px;
    font-weight:600;
  }


}
