@media (max-width: 1024px) {

.navigation{
    display:none;
}

.mobilemenu{
    display:block;
}

.tombox{
    height:initial;
}

.tombox img{
    display:none;
}

.postcontainer img{
    margin-left: 0px;
    max-width: 100%;
}

.postcontainer iframe{
    max-width:100%;
}

}
