---
---

{% include head.html %}

{% include googleanalytics.html %}

{% include 2024-nav.html %}

<div class="">
Hi, I'm Tom Critchlow and this is my digital garden 🌱
<br><br>
I'm working as a strategy consultant and growth advisor to media and technology companies. Learn more about that here.
<br><br>
I'm based in Brooklyn and love the web, blogging and digital bricolage.

<div class="ttu f5 newgreen tracked">Projects</div>
<div class="flex pv2 w-100">
  <img src="https://www.google.com/s2/favicons?domain=quotebacks.net&sz=256">
  <div>Quotebacks</div>
</div>
<div class="flex pv2 w-100">
  <img src="https://www.google.com/s2/favicons?domain=quotebacks.net&sz=256">
  <div>Quotebacks</div>
</div>


</div>


{% include 2024-footer.html %}