---
metatitle: Growth Advisor
title: Growth Advisor
---

{% include head.html %}

{% include googleanalytics.html %}

{% include 2024-nav.html %}

<div class="pt4 pt5-l pb2 w-two-thirds-ns center">

    <div class="postcontainer f4 ph3 pb4 ph0-l lh-copy">

<h1 class="fw5">Gain <span class="newgreen">clarity</span> about your marketing and create <span class="newgreen">momentum</span> in growth</h1>

<p>For media and technology companies I build new marketing and growth capabilities that drive business outcomes.</p>

<a class="f5 f4 b link dim br2 ph3 pv3 mb2 dib white bg-newgreen" href="https://calendly.com/tomcritchlow/tom-chat">Book a Free Growth Strategy Workshop</a>

<p class="f6 i black-50">Or get in touch directly by <a class="link newgreen u" href="mailto:tjcritchlow@gmail.com">sending an email</a></p>

<hr class="mv4 b--black-10 ph3">

<div class="pv4">
    <div class="ttu f5 newgreen tracked b pb3">Clients</div>
    <div class="flex flex-wrap justify-center">
        <img class="pa3 h2 mt1" src="https://seomba.com/images/clients/nyt.svg">
        <img class="pa3 h2 mt1" src="https://seomba.com/images/clients/etsy.svg">
        <img class="pa3 h2 mt1" src="https://seomba.com/images/clients/google.svg">
  
        <img class="pa3 h2 mt1" src="https://seomba.com/images/clients/angi.svg">
        <img class="pa3 h2" src="https://seomba.com/images/clients/finder.svg">
        <img class="pa3 h2" src="https://seomba.com/images/clients/gartner.svg">
        <img class="pa3 h2" src="https://seomba.com/images/clients/dotdash.svg">
        <img class="pa3 h2" src="/images/glitch.svg">
        <img class="pa3 h2" src="/images/atlassian.svg">
      </div>
    </div>

<div class="pv4">
    <div class="ttu f5 newgreen tracked b pb3">Expertise</div>
        <p>Hard skills:
            <li>Content & SEO</li>
            <li>Brand & positioning</li>
            <li>Product & innovation</li>
        </p>
        <p>Soft skills:
            <li>Leadership & mentorship</li>
            <li>Management systems</li>
            <li>Design & Rapid Prototyping</li>
        </p>        
        <p>While the concrete capabilitie are useful, the real value is in the intangibles. Helping with strategic clarity, leadership, workshop facilitation, training, business modeling, financial analysis and more.</p>
</div>   

<div class="pv4">
    <div class="ttu f5 newgreen tracked b pb3">What clients say</div>
        <div class="bg-newgreen-light pa3 ba br2 b--black-10 mv3">
            <p class="i">“Tom is a CEO Whisperer. He is truly a world-class listener and mentor who knows how to knock down walls inside companies to get strategic projects delivered.”</p>
        </div>

        <div class="bg-newgreen-light pa3 ba br2 b--black-10 mv3">
            <p class="i">“Tom brings a unique mix of SEO, business strategy and executive presence. Working together we have successfully secured investment to build modern SEO programs, driven valuable revenue growth and transformed SEO into a strategic business lever with executive leadership at various enterprises.”</p>
        </div>        
</div>   


<div class="pv4">
    <div class="ttu f5 newgreen tracked b pb3">Case Studies</div>
        
    <div class="ba b--newgreen mv3">
        <div class="bg-newgreen white pa2">Education Media</div>
        <div class="pa2">
            <p>Working as a growth advisor directly with the Managing Director for a financial education startup that grew from zero to over 150,000 visits / month and 700k email addresses. The work involved defining go to market strategy, internal processes, SEO stratey and more.</p>
            <img class="center ma2 w-100" src="/images/client-education.svg">
            <div class="bg-newgreen-light pa2 ba b--black-10 br2 i lh-copy">"Tom Critchlow is one of the best I've worked with when it comes to SEO. We worked together on a startup and he has that amazing blend of seeing the big picture and being able to roll up his sleeves to get the work done. The results were fantastic, where we developed the building blocks for our key money pages and then executed the plan to dramatically increase the organic traffic to those pages."</div>
        </div>
    </div>

    <div class="ba b--newgreen mv3">
        <div class="bg-newgreen white pa2">Commerce Publishing</div>
        <div class="pa2">
            <p>Working directly with the CEO of $30m portfolio of sites, I helped define strategic direction, supported quarterly board presentations, helped hire senior talent and defined internal processes for the rapidly expanding publishing team. </p>
            <img class="center ma2 w-100" src="/images/client-commerce.svg">
            <div class="bg-newgreen-light pa2 ba b--black-10 br2 i lh-copy">“Tom is one of the clearest business thinkers I’ve ever had the privilege of working with. His ability to synthesize complex and copious amounts of ideas and material into clear and operational strategy is unparalleled.”</div>
        </div>
    </div>    
</div>   



<div class="pv4">
    <div class="ttu f5 newgreen tracked b pb3 mv3">Book a Free Workshop</div>
    What's included. Limited availability.
        
</div>

<div class="pv4">
    <div class="ttu f5 newgreen tracked b pb3 mv3">Pricing</div>
    Growth advisor starts at $8k / month. If you have a specific project with clear goals my consulting work is where I handle these kind of relationships. Drop me an email: tjcritchlow@gmail.com
        
</div>

<div class="pv4">
    <div class="ttu f5 newgreen tracked b pb3 mv3">About Me</div>
    Add creativity to rigor and rigor to creativity. My north star is always business impact. I'll get my hands dirty, get involved. I'm more active than a traditional "advisor" and more senior than a typical "freelancer".

    Solving real business problems and driving growth through building new capabilities. 
        
</div>   




</div>
</div>

{% include 2024-footer.html %}