---
---

<div id="content">
    
<h1>The Strategic Independent</h1>

{% assign yesandposts = "/2019/11/18/yes-and/,/2019/11/19/optimism-operating-system/,/2019/12/06/blocking-unblocking-clients/,/2020/06/24/navigating-power-status/,/2020/08/18/the-fool/" | split: ',' %}


{% for post in site.posts %}
{% if post.url contains "/2019/11/18/yes-and/" or post.url contains "/2019/11/19/optimism-operating-system/" or post.url contains "/2019/12/06/blocking-unblocking-clients/" or post.url contains "/2020/06/24/navigating-power-status/" or post.url contains "/2020/08/18/the-fool/" }

{{post.url}}
<h1>{{post.title}}</h1>
<div class="post-content">
  {{post.content}}
  </div>



{% endif %}
{% endfor %}



  </div>
  <script src="https://unpkg.com/bindery@2.3.1/dist/bindery.min.js"></script>
  <script>

let linksAsFootnotes = Bindery.Footnote({
  selector: 'p > a',
  render: (element, number) => `${number}: Link to ${element.href}`
});

Bindery.makeBook({
  content: '#content',
  rules: [ linksAsFootnotes],
  pageSetup: {
    size: { width: '5.5in', height: '8in' },
    margin: { top: '12pt', inner: '12pt', outer: '16pt', bottom: '20pt' },
  },
});


  </script>