---
---

<!--
  Paragraph styles working from here:
  https://alwaysreadthemanual.com/read/issues/5/eric-meyer/article.html

Convert all a href's to footnotes at end of chapter?
Combine all footnotes to end of doc? Hmm.

-->

<style>

html{
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.post-content p, .post-content blockquote, .post-content ul, .post-content ol, .post-content li{
font-size:10px;
line-height:13px;
}

.post-content h2, .post-content h3, .post-content h4{
  font-weight:400;
  font-style:italic;
}

img{max-width:100%}

/*.post-content>p+p {
    text-indent: 1.5em;
}*/

.post-content p{
  margin-top:5px;
}

</style>


<div id="content">
    
<h1>The Strategic Independent</h1>

<p>Intro text goes here...</p>

{% assign yesandposts = "/2019/11/18/yes-and/,/2019/11/19/optimism-operating-system/,/2019/12/06/blocking-unblocking-clients/,/2020/06/24/navigating-power-status/,/2020/08/18/the-fool/" | split: ',' %}

{% assign yesand = "" | split,"" %}

{% for post in site.posts %}
{% if post.url contains "/2019/11/18/yes-and/" or post.url contains "/2019/11/19/optimism-operating-system/" or post.url contains "/2019/12/06/blocking-unblocking-clients/" or post.url contains "/2020/06/24/navigating-power-status/" or post.url contains "/2020/08/18/the-fool/" %}
{% assign yesand = yesand | push:post %}
{% endif %}
{% endfor %}

{% assign sortedPages = yesand | sort:"date" %}

{% for post in sortedPages %}

<h1>{{post.title}}</h1>
<div class="post-content">
  {{post.content}}
  </div>

{% endfor %}



  </div>
  <script src="https://unpkg.com/bindery@2.3.1/dist/bindery.min.js"></script>
  <script>

let linksAsFootnotes = Bindery.Footnote({
  selector: 'p > a',
  render: (element, number) => `${number}: Link to ${element.href}`
});

let marginFootnotes = Bindery.Footnote({
  selector: 'p > a',
  render: (element, number) => `${number}: Link to ${element.href}`
});

let breakRule = Bindery.PageBreak({
  selector: 'h1',
  position: 'before',
});

let breakHeaders = Bindery.PageBreak({
  selector: "h1, h2, h3, h4, h5, h6, li, tr",
  position: "avoid"
});

let headerRule = Bindery.RunningHeader({
  render: (pageInfo) => pageInfo.isLeft
    ? `${pageInfo.number} · ${pageInfo.heading.h1}`
    : `Tom Critchlow · ${pageInfo.number}`
});

Bindery.makeBook({
  content: '#content',
  rules: [linksAsFootnotes,breakRule,headerRule, breakHeaders],
  pageSetup: {
    size: { width: '5.75in', height: '8.75in' },
    margin: { top: '0.625in', inner: '0.625in', outer: '0.625in', bottom: '0.625in' },
  },
});


  </script>