---
---

{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}

<div class="mw8 center">

<div class="flex-l w-100 items-center pv4">
    <div class="w-60-l w-100 pr5-l">
        <div class="ttu newgreen f5 b">
            Let's work together
        </div>
        <div class="pv4 f2 fw3 lh-title">
            In my consulting work I co-pilot with executives to lead strategic growth and innovation.
        </div>
        <a class="f6 f4 b link dim br2 ph3 pv3 mb2 dib white bg-newgreen" href="https://calendly.com/tomcritchlow/tom-chat">Book an Intro Call</a>
    </div>
    <div class="w-40-l w-100 pa4">
        <img src="https://newmba.co/images/clients/clients.svg" style="filter:brightness(0.4)">
    </div>

</div>

<div class="pv4">
<div class="ttu f5 newgreen w-100 b">CONSULTING PRINCIPLES</div>

<div class="flex-l w-100 f4">

    <div class="w-50-l w-100 pr3-l">
        
        <ol class="pl3 f4">
            <li class="pv3"><strong>Partners not clients</strong>. You can't outsource giving a shit but I try to really care about your business - and align my work to business impact not project deliverables.</li>
            <li class="pv3"><strong>What's the next most useful thing?</strong> Momentum is the most valuable resource and I work hard to unblock clients, always focused on moving things forward, even if that's hands-on work.</li>
            <li class="pv3"><strong>Yes! And...</strong> My consulting style is optimistic, generative and always seeking a way through. It's not about my ideas and right or wrong, it's about the best way forward together.</li>
        </ol>


        </div>
    
        <div class="w-50-l w-100 pl3-l">

        <ol class="pl3 f4" start="4">
            <li class="pv3"><strong>Strategy & stewardship</strong>. Too many consultants provide a pretty strategy presentation that's divorced from reality. I work hard to ensure we can connect the big picture ideas to tangible day to day work, and stick aorund to help with implementation and roll-out.</li>
            <li class="pv3"><strong>Numbers & narrative</strong>. I bring an analytical rigor to all projects but also recognize that how we position ideas and communicate projects changes their outcomes.</li>
        </ol>

            

        </div>

</div>

</div>

<div class="center bg-light-gray pa4 ba b--newgreen georgia f3 i mw7 mv4">
    “Tom is a CEO Whisperer. He is truly a world-class listener and mentor who knows how to knock down walls inside companies to get strategic projects delivered.”
</div>

<div class="pv4">
    
    <div class="w-100">
        <div class="ttu f5 newgreen w-100 b pb3">AREAS OF FOCUS</div>

        <div class="flex flex-wrap">
            
            <div class="w-third-l w-100">
                <div class="pa3 bg-moon-gray br3 ma2">
                <div class="b">Digital Content</div>
                Working with brands like The New York Times, Gartner and Atlassian I've worked on content strategy, audience development and SEO strategies.
                </div>
            </div>

            <div class="w-third-l w-100">
                <div class="pa3 bg-moon-gray br3 ma2">
                <div class="b">SEO Investment Allocation</div>
                With 15+ years in SEO I've helped Fortune-100 brands create and audit SEO budgets.
                </div>
            </div>    
            
            <div class="w-third-l w-100">
                <div class="pa3 bg-moon-gray br3 ma2">
                <div class="b">Tangible Innovation</div>
                I've worked with Google and The New York Times to develop new products at the intersection of product and growth, with a specific bias towards innovation that is meaningful to the core business.
                </div>
            </div>    
            
            <div class="w-third-l w-100">
                <div class="pa3 bg-moon-gray br3 ma2">
                <div class="b">Executive Performance Coaching</div>
                Unlike an executive coach I get more hands on with my coaching - working with senior individuals and executive teams to drive operational performance and strategic clarity.
                </div>
            </div>

            <div class="w-third-l w-100">
                <div class="pa3 bg-moon-gray br3 ma2">
                <div class="b">Operationalized Positioning</div>
                For agencies and B2B saas companies that need brand positioning to align with sales, marketing and operations I've worked with a range of companies to define brand positioning and then integrate across all customer touch points.
                </div>
            </div>    
            
            <div class="w-third-l w-100">
                <div class="pa3 bg-moon-gray br3 ma2">
                <div class="b">Commerce Content</div>
                Working with the Wirecutter, Mashable, PCMAg, Finder, Dotdash and others I have a deep understanding of the commerce content business model and it's associated risks, challenges and opportunities.
                </div>
            </div>                




        </div>
        
    </div>

</div>


<div class="pv4">
    
    <div class="w-100">
        <div class="ttu f5 newgreen w-100 b pb3">RECENT PROJECTS</div>
    
        <div class="flex items-center w-100 pa3 br2 ba b--newgreen mv2">
            <img class="h2 mr2 br-100 "src="https://www.google.com/s2/favicons?domain=nytimes.com&sz=256">
            <div>Assembling and leading a team to ideate and prototype new digital products for <strong>The New York Times</strong></div>
            <svg height="200px" width="200px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 185.344 185.344" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path style="fill:#010002;" d="M92.672,144.373c-2.752,0-5.493-1.044-7.593-3.138L3.145,59.301c-4.194-4.199-4.194-10.992,0-15.18 c4.194-4.199,10.987-4.199,15.18,0l74.347,74.341l74.347-74.341c4.194-4.199,10.987-4.199,15.18,0 c4.194,4.194,4.194,10.981,0,15.18l-81.939,81.934C98.166,143.329,95.419,144.373,92.672,144.373z"></path> </g> </g> </g></svg>
        </div>

        <div class="flex items-center w-100 pa3 br2 ba b--newgreen mv2">
            <img class="h2 mr2 br-100" src="https://www.google.com/s2/favicons?domain=nytimes.com&sz=256">
            <div>Assembling and leading a team to ideate and prototype new digital products for <strong>The New York Times</strong></div>
        </div>

    </div>

</div>

<div class="pv4">
    
    <div class="w-100">
        <div class="ttu f5 newgreen w-100 b pb3">ABOUT ME</div>
    
        <div class="flex">
            <div class="w-60-l">
                
            <p>Starting my career in SEO allowed me to get a deep, grounded understanding of "how the web works". Working at places like Google and consulting with companies of all shapes and sizes gave me a good understanding of "how business works".
                <br><br>
            Throughout my career I've been obsessed with the question of how to be effective. Recognizing that to be effective requires understanding the humans, the systems and the incentives at work.
            <br><br>
            I'm based in Brooklyn and love new opportunities.
            <br><br>
            Interested? Book time to chat here.
            </p>
            </div>
            <div class="w-40-l">
                <img src="https://newmba.co/images/tom.jpg" />
            </div>
        </div>

    </div>

</div>


</div>

{% include footer.html %}