---
metatitle: Digital Strategy Consulting from Tom Critchlow
title: How to work together
---

{% include head.html %}

{% include googleanalytics.html %}

{% include 2024-nav.html %}

<div class="mw8 center ph3 ph0-l">

<div class="flex-l w-100 items-center pv4">
    <div class="w-60-l w-100 pr5-l">
        <div class="ttu newgreen f5 b">
            Let's work together
        </div>
        <div class="pv4 f2 fw3 lh-title">
            In my consulting work I co-pilot with executives to lead strategic growth and innovation.
        </div>
        <a class="f6 f4 b link dim br2 ph3 pv3 mb2 dib white bg-newgreen" href="mailto:tjcritchlow@gmail.com">Book an Intro Call</a>
    </div>
    <div class="w-40-l w-100 pa4">
        <img src="/images/clients-large.svg">
    </div>

</div>

<div class="pv4">
<div class="ttu f5 newgreen w-100 b">CONSULTING PRINCIPLES</div>

<div class="flex-l w-100 f4">

    <div class="w-50-l w-100 pr3-l">
        
        <ol class="pl3 f4 pb0 mb0">
            <li class="pv3"><strong>Partners not clients</strong>. You can't outsource giving a shit but I try to really care about your business - and align my work to business impact not project deliverables.</li>
            <li class="pv3"><strong>What's the next most useful thing?</strong> Momentum is the most valuable resource and I work hard to unblock clients, always focused on moving things forward, even if that's hands-on work.</li>
            <li class="pv3"><strong>Yes! And...</strong> My consulting style is optimistic, generative and always seeking a way through. It's not about my ideas and right or wrong, it's about the best way forward together.</li>
        </ol>


        </div>
    
        <div class="w-50-l w-100 pl3-l">

        <ol class="pl3 f4 pt0 mt3-l mt0" start="4">
            <li class="pv3"><strong>Strategy & stewardship</strong>. I like to get involved in both strategic thinking and ongoing iteration. It works better if you let one inform the other.</li>
            <li class="pv3"><strong>Numbers & narratives</strong>. I bring an analytical rigor to all projects but also recognize that how we position ideas and communicate projects changes their outcomes.</li>
        </ol>

            

        </div>

</div>

</div>

<div class="center bg-newgreen-light pa4 ba b--newgreen georgia f3 i mw7 mv4">
    “Tom is a CEO Whisperer. He is truly a world-class listener and mentor who knows how to knock down walls inside companies to get strategic projects delivered.”
    <div class="f5 i tr pt3 avenir">Jeremy Cabral - Founder & COO, Finder</div>
</div>

<div class="pv4">
    
    <div class="w-100">
        <div class="ttu f5 newgreen w-100 b pb3">FOCUS AREAS</div>

        <div class="flex flex-wrap">
            
            <div class="w-third-l w-100">
                <div class="pa3 bg-white shadow-5 br2 mr2-l mv2">
                <div class="b">Digital Content</div>
                Working with brands like The New York Times, Gartner and Atlassian I've worked on content strategy, audience development and SEO strategies.
                </div>
            </div>

            <div class="w-third-l w-100">
                <div class="pa3 bg-white shadow-5 br2 mh1-l mv2">
                <div class="b">SEO Investment Allocation</div>
                With 15+ years in SEO I've helped Fortune-100 brands create and audit SEO budgets, create SEO programs and hire senior SEO leaders.
                </div>
            </div>    
            
            <div class="w-third-l w-100">
                <div class="pa3 bg-white shadow-5 br2 ml2-l mv2">
                <div class="b">Tangible Innovation</div>
                I've worked with Google and The New York Times to ideate, prototype and design new products at the intersection of product and growth, with a specific bias towards innovation that is meaningful to the core business.
                </div>
            </div>    
            
            <div class="w-third-l w-100">
                <div class="pa3 bg-white shadow-5 br2 mr2-l mv2">
                <div class="b">Executive Performance Coaching</div>
                Unlike an executive coach I get more hands on with my coaching - working with senior individuals and executive teams to drive operational performance and strategic clarity.
                </div>
            </div>

            <div class="w-third-l w-100">
                <div class="pa3 bg-white shadow-5 br2 mh1-l mv2">
                <div class="b">Strategic Positioning</div>
                Great positioning starts with deeply understanding your customer and your market. My work spans customer research, branding and strategic design to create new branding that lives across all touch points.
                </div>
            </div>    
            
            <div class="w-third-l w-100">
                <div class="pa3 bg-white shadow-5 br2 ml2-l mv2">
                <div class="b">Commerce Content</div>
                Working with the Wirecutter, Dotdash, Mashable, PCMag, Finder and others I have a deep understanding of the commerce content business model and it's associated risks, challenges and opportunities.
                </div>
            </div>                




        </div>
        
    </div>

</div>


<div class="pv4">
    
    <div class="w-100">
        <div class="ttu f5 newgreen w-100 b pb3">RECENT PROJECTS</div>
    
        <style>
            details[open] .chevron {
                transform: rotate(180deg);
            }
        </style>

        <details class="w-100 br2 ba b--newgreen mv2">
            <summary class="flex items-center db pointer pa3">
                
                <img class="h2 mr2 br-100 "src="https://www.google.com/s2/favicons?domain=nytimes.com&sz=256">
                <div>Assembling and leading a team to ideate and prototype new digital products for <strong>The New York Times</strong></div>
                <svg class="h1 w1 ml-auto mr2 chevron" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 185.344 185.344" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path style="fill:#02AD28;" d="M92.672,144.373c-2.752,0-5.493-1.044-7.593-3.138L3.145,59.301c-4.194-4.199-4.194-10.992,0-15.18 c4.194-4.199,10.987-4.199,15.18,0l74.347,74.341l74.347-74.341c4.194-4.199,10.987-4.199,15.18,0 c4.194,4.194,4.194,10.981,0,15.18l-81.939,81.934C98.166,143.329,95.419,144.373,92.672,144.373z"></path> </g> </g> </g></svg>    
            
            </summary>
            <div class="flex flex-wrap pa4">
                <div class="w-40-l w-100">
                    <img src="/images/work-nyt.png">
                </div>
                <div class="w-60-l pl3-l">
                    Working with the New York Times I worked closely with a senior executive to translate a senior level request into a concrete innovation project.
                    <br><br>
I assembled a small team of researchers, designers and led strategy on a set of prototypes for new digital products within the Times.
                </div>
            </div>
        </details>

        <details class="w-100 br2 ba b--newgreen mv2">
            <summary class="flex items-center db pointer pa3">
                
                <img class="h2 mr2 br-100 "src="https://www.google.com/s2/favicons?domain=google.com&sz=256">
                <div>Leading GTM for new startups within <strong>Google's Area 120 team</strong></div>
                <svg class="h1 w1 ml-auto mr2 chevron" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 185.344 185.344" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path style="fill:#02AD28;" d="M92.672,144.373c-2.752,0-5.493-1.044-7.593-3.138L3.145,59.301c-4.194-4.199-4.194-10.992,0-15.18 c4.194-4.199,10.987-4.199,15.18,0l74.347,74.341l74.347-74.341c4.194-4.199,10.987-4.199,15.18,0 c4.194,4.194,4.194,10.981,0,15.18l-81.939,81.934C98.166,143.329,95.419,144.373,92.672,144.373z"></path> </g> </g> </g></svg>    
            
            </summary>
            <div class="flex flex-wrap pa4">
                <div class="w-40-l w-100">
                    <img src="/images/work-keen.png">
                </div>
                <div class="w-60-l pl3-l">
                    Working closely with the innovation unit inside Google I led customer research, iterated on product positioning, launched growth experiments and created a GTM strategy to find product-market fit.
                </div>
            </div>
        </details>

        <details class="w-100 br2 ba b--newgreen mv2">
            <summary class="flex items-center db pointer pa3">
                
                <img class="h2 mr2 br-100 "src="https://www.google.com/s2/favicons?domain=angi.com&sz=256">
                <div>Creating a multi-million dollar SEO program for <strong>Angi</strong> </div>
                <svg class="h1 w1 ml-auto mr2 chevron" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 185.344 185.344" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path style="fill:#02AD28;" d="M92.672,144.373c-2.752,0-5.493-1.044-7.593-3.138L3.145,59.301c-4.194-4.199-4.194-10.992,0-15.18 c4.194-4.199,10.987-4.199,15.18,0l74.347,74.341l74.347-74.341c4.194-4.199,10.987-4.199,15.18,0 c4.194,4.194,4.194,10.981,0,15.18l-81.939,81.934C98.166,143.329,95.419,144.373,92.672,144.373z"></path> </g> </g> </g></svg>    
            
            </summary>
            <div class="flex flex-wrap pa4">
                <div class="w-40-l w-100">
                    <img src="/images/work-angi.png">
                </div>
                <div class="w-60-l pl3-l">
                    Working with the Chief Product Officer to help Angi create a new SEO investment strategy which included creating a new SEO team with 20+ full time roles. Created the strategy and investment plan and hired the VP SEO role to oversee the team.
                </div>
            </div>
        </details> 
        
        <details class="w-100 br2 ba b--newgreen mv2">
            <summary class="flex items-center db pointer pa3">
                
                <img class="h2 mr2 br-100 "src="https://www.google.com/s2/favicons?domain=finder.com.au&sz=256">
                <div>Strategic advisor for <strong>Finder</strong></div>
                <svg class="h1 w1 ml-auto mr2 chevron" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 185.344 185.344" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path style="fill:#02AD28;" d="M92.672,144.373c-2.752,0-5.493-1.044-7.593-3.138L3.145,59.301c-4.194-4.199-4.194-10.992,0-15.18 c4.194-4.199,10.987-4.199,15.18,0l74.347,74.341l74.347-74.341c4.194-4.199,10.987-4.199,15.18,0 c4.194,4.194,4.194,10.981,0,15.18l-81.939,81.934C98.166,143.329,95.419,144.373,92.672,144.373z"></path> </g> </g> </g></svg>    
            
            </summary>
            <div class="flex flex-wrap pa4">
                <div class="w-40-l w-100">
                    <img src="/images/work-finder.png">
                </div>
                <div class="w-60-l pl3-l">
                    Working closely with the executive team on key strategic projects including international expansion, creating a detailed Monthly Business Review process and leadership meetings.
                </div>
            </div>
        </details> 
        
        <details class="w-100 br2 ba b--newgreen mv2">
            <summary class="flex items-center db pointer pa3">
                
                <img class="h2 mr2 br-100 "src="https://www.google.com/s2/favicons?domain=directive.com&sz=256">
                <div>Creating a new brand positioning and implementing across sales, marketing and operations for <strong>Directive Consulting</strong></div>
                <svg class="h1 w1 ml-auto mr2 chevron" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 185.344 185.344" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path style="fill:#02AD28;" d="M92.672,144.373c-2.752,0-5.493-1.044-7.593-3.138L3.145,59.301c-4.194-4.199-4.194-10.992,0-15.18 c4.194-4.199,10.987-4.199,15.18,0l74.347,74.341l74.347-74.341c4.194-4.199,10.987-4.199,15.18,0 c4.194,4.194,4.194,10.981,0,15.18l-81.939,81.934C98.166,143.329,95.419,144.373,92.672,144.373z"></path> </g> </g> </g></svg>    
            
            </summary>
            <div class="flex flex-wrap pa4">
                <div class="w-40-l w-100">
                    <img src="/images/work-directive.png">
                </div>
                <div class="w-60-l pl3-l">
                    Working with Directive to create a new positioning to power growth, followed by aligning all internal teams across marketing, sales and operations to align around the new positioning.
                </div>
            </div>
        </details>         


    </div>

</div>

<div class="pv4">
    
    <div class="w-100">
        <div class="ttu f5 newgreen w-100 b pb3">ABOUT ME</div>
    
        <div class="flex flex-wrap">
            <div class="w-60-l w-100 f4 pr4-l">
                
            <p>Starting my career in SEO allowed me to get a deep, grounded understanding of "how the web works". Working at places like Google and consulting with companies of all shapes and sizes gave me a good understanding of "how business works".
                <br><br>
            Throughout my career I've been obsessed with the question of how to be effective. Recognizing that to be effective requires understanding the humans, the systems and the incentives at work.
            <br><br>
            I'm based in Brooklyn and love new opportunities.
            <br><br>
            Interested? <a href="mailto:tjcritchlow@gmail.com">Book time to chat here</a>.
            </p>
            </div>
            <div class="w-40-l w-100 pa3">
                <img src="/images/tom-2024-min.jpeg" />
            </div>
        </div>

    </div>

</div>


</div>

{% include 2024-footer.html %}