---
---

{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}

<div class="mw8 center">

<div class="flex-l w-100 items-center">
    <div class="w-60-l w-100 pr3">
        <div class="ttu newgreen f5 b">
            Let's work together
        </div>
        <div class="pv4 f2 fw3 lh-title">
            In my consulting work I co-pilot with executives to lead growth and innovation.
        </div>
        <a class="f6 f4 b link dim br2 ph3 pv2 mb2 dib white bg-newgreen" href="https://calendly.com/tomcritchlow/tom-chat">Book an Intro Call</a>
    </div>
    <div class="w-40-l w-100 pa4">
        <img src="https://newmba.co/images/clients/clients.svg" style="filter:brightness(0.4)">
    </div>

</div>

<div class="w-100 bt bb b--newgreen mv4 pv4">
    <div class="mw7 ph4 center f3 i tc">
        “Tom is a CEO Whisperer. He is truly a world-class listener and mentor who knows how to knock down walls inside companies to get strategic projects delivered.”
    <br><br>
    Jeremy Cabral - COO & Co-founder, Finder
    </div>

</div>

<div class="flex">
    
    <div class="w-50-l pr4-l">
        <div class="ttu f5 newgreen">CONSULING PRINCIPLES</div>
        Something
    </div>

    <div class="w-50-l prl-l">
        <div class="ttu f5 newgreen">EXPERTISE</div>
        Something
    </div>    

</div>





</div>