---
---
<head>
  <title>drumroll...</title>
  <meta name="viewport" content="width=device-width">
</head>

<p><em>5/4 to the floor // disco funk // blue notes // broken 45s</em></p>

{% assign postsByYearMonth = site.music | group_by_exp:"music", "music.date | date: '%Y %b'"  %}
{% for yearMonth in postsByYearMonth reversed %}

{{ yearMonth.name }}
  <ul>
{% for post in yearMonth.items %}
<li><a href="{{post.href}}">{{post.title}}</a> by {{post.artist}}</li>
{% endfor %}
</ul>

  


{% endfor %}
