---
---

{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}


   <div class="w-60-l mw8 center mv5 tombox">
            <img src="/images/tomsmall.jpg" />
            <div class="w-50-l fr lh-copy f4">
            <h2 class="fw6 f1">Hello there!</h2>
            <p>I do consulting work for startups & media companies. <a href="/consulting">Read more about that here</a>.</p>
            <p>I'm passionate about art & technology and am co-founder of Brooklyn art collective <a href="http://www.fiercelycurious.com">Fiercely Curious</a>.</p>
            <p>I also know a little kung fu (but I'm rusty)</p>
            <p><a href="/about">Learn more about my background here</a></p>  
            </div>
        </div>

<section class="cf pv3">
<div class="mw8 center tc">
        <h2> Clients</h2>

        <div class="fl w-third pa2 tc"><img class="h3 pa2" src="/images/clients/nyt.png" /></div>
        <div class="fl w-third pa2 tc"><img class="h3 pa2" src="/images/clients/complex.png" /></div>
        <div class="fl w-third pa2 tc"><img class="h3 pa2" src="/images/clients/olapic.png" /></div>
        <div class="fl w-third pa2 tc"><img class="h3 pa2" src="/images/clients/fundera.png" /></div>
        <div class="fl w-third pa2 tc"><img class="h3 pa2" src="/images/clients/gucci.png" /></div>
        <div class="fl w-third pa2 tc"><img class="h3 pa2" src="/images/clients/grovo.png" /></div>
        </div>
</section>

<section>

        <div class="mw6 center tc">
            <h2><a href="mailto:tjcritchlow@gmail.com">Get in touch</a></h2>
        </div>

</section>



        

{% include footer.html %}