---
---
{% include head.html %}


<body>


<div class="welcomewrapper">
<div class="welcomebox">
	Hi there,
	<br><br>
	You look lovely today.
	<br><br>
	I'm currently working as a (freelance strategy consultant)[/consulting] in NYC. Want to discuss a project? Get in touch: <a href="mailto:tjcritchlow@gmail.com">tjcritchlow@gmail.com</a>
	<br><br>
	Also - I'm building <a href="http://www.fiercelymade.com">Fiercely Made</a> & <a href="http://www.fiercelycurious.com">Fiercely Curious</a> - curating the best artists and makers in Brooklyn.
	<br><br>
	More <a href="/about">about me</a> & my latest writing <a href="/writing">here</a>.
	<br><br>
	I like drinking coffee. I know Kung Fu.
	<br><br>
	<span class="pacifico">TomCritchlow</span>
</div>
</div>



{% include googleanalytics.html %}


  </body>
</html>
