---
---

{% include head.html %}


 <script type="text/javascript" src="/js/tabletop.js"></script>

<script type="text/javascript">
  window.onload = function() { init() };

  var public_spreadsheet_url = 'https://docs.google.com/spreadsheets/d/1er8KB9DhFaAddMAGekPWlJddcAZQEFuDg58WOpUKI08/pubhtml?gid=0&single=true';

  function init() {
    Tabletop.init( { key: public_spreadsheet_url,
                     callback: showInfo,
                     simpleSheet: true,
                     orderby: 'date',
                     reverse:'true' } )
                     
  }
    
      function showInfo(data) {          
         $(".cover i").remove();
         $(".cover").slideToggle("slow");
         var i = 0;
         while(i < 501) {
            $(".box").append("<div class='image'><a href='"+data[i].link+"'><img src='"+data[i].url+"' /></a>@"+data[i].username+"</div>");
            i++;
          };
          }
</script>

<style>

.box{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    padding-top:20px;
    }

.image{
    width:300px;
    height:300px;
    float:left;
    padding-right:10px;
    padding-left:10px;
    margin-bottom:50px;
    }

.image img{
    width:100%;
    }

.cover{
    position:absolute;
    width:100%;
    height:100%;
    background-color:#4CAF50;
    margin:0px;
    padding:0px;
    text-align:center;
    }
    
 .cover i{
   position:absolute;
   top:50%;
   left:50%;
   margin-left:-40px;
   margin-top:-40px;
 }
 
 .footer{
   clear:both;
   width:100%;
   margin-top:100px;
 }
 
</style>

<div class="cover"><i class="fa fa-spinner fa-pulse fa-inverse fa-5x"></i></div>

<div class="box">

</div>

<div class="footer">
  This page displays the last 50 photos posted to Instagram in the Boerum Hill/Gowanus area of Brooklyn, NY. More info here: <a href="/2015/05/05/mediated-maps/">mediated maps</a>. If you would like to remove one of your photos from this page please email me and I will remove it immediately: tjcritchlow@gmial.com thank you.
</div>

{% include googleanalytics.html %}

</body>

