---
---
{% assign tags = site.library | map: 'tags' | join: ',' | split: ',' | uniq %}

{% include head.html %}

{% include googleanalytics.html %}

{% include 2024-nav.html %}

<div class="w-100 center mw8">
  
<div class="flex justify-between">
  <h2>Library</h2>
  <div class="w-75 center">
    <input type="text" id="searchBox" placeholder="Search items..." class="w-100 center pa2 i br2 ma3" style="pointer-events: auto;">
  </div>
</div>

  
  

<div class="flex">

  <div class="top-1 self-start pr3" style="position:sticky">
    
    Pinned Views:
    <ul>
      <li>Music</li>
      <li>Books</li>
      <li>Links</li>
    </ul>

    Tags:
    <ul>
    {% for tag in tags %}
      <li>{{tag}}</li>
    {% endfor %}
      <li>See All</li>
    </ul>

  </div>


  <div class="pl3-l mb5">

    {% for item in site.library %}
    <div class="pv4 bb b--newgreen">
    <div class="f4 b">{%if item.link %}<a class="link black u" href="{{item.link}}"><img class="mr1 v-mid" src="https://www.google.com/s2/favicons?domain={{item.link}}"> {{item.title}}</a>{%else%}{{item.title}}{%endif%} <a class="link newgreen b" href="{{item.url}}">#</a></div>
    
    <div>
      {{item.content}}
    </div>
    <div class="">{% for tag in item.tags}<a href="" class="pa2 bg-lightgrey newgreen b br1"></a>{% endfor %}</div>
    <div class="black-50 f6">{{item.date_saved | date: "%B %-d, %Y"}}</div>
    </div>
    {% endfor %}
  
  </div>
  
  


</div>

  



  








</div>



{% include 2024-footer.html %}