---
---
{% assign tags = site.library | map: 'tags' | join: ',' | split: ',' | uniq %}

{% include head.html %}

{% include googleanalytics.html %}

{% include 2024-nav.html %}

</div>

<script src="/js/fuse.min.js"></script>
<script src="/js/library-search.js"></script>

<style>
  @media (min-width:961px){
.navlinks{
  width:223px;
}

.mainlinks{
  padding-left:223px
}
}

</style>


<div class="w-100 center ph0-l ph2">

<div class="flex-l relative">

<div class="mh5-l mb5 mainlinks w-100">

    <div class="w-100 center flex">
      <input type="search" id="search-box" placeholder="Search items e.g. tag:funk url:fb.com ..." class="w-100 center pa2 i br2 ma3 bw1 ba b--black-20" style="pointer-events: auto;">
    </div>

  <div id="search-results" class="w-100"></div>
  <div id="main-content">
    {% assign sortedlibrary = site.library | sort: 'date_saved' | reverse %}
    {% for item in sortedlibrary %}
    <div class="pv4 flex-l">
      <div class="w-75-l pr2-l bb b--black-10">
        <div class="f4 b">{%if item.link %}<a class="black" href="{{item.link}}">{{item.title}}</a> <span class="pl2 fw4 f5 black-50">(<img class="mh1 v-mid" src="https://www.google.com/s2/favicons?domain={{item.link}}"> {{ item.link | split: "//" | last | split: "/" | first }})</span>{%else%}{{item.title}}{%endif%}</div>
        
        {%if item.content %}
        <div class="pv2">
          {{item.content}}
        </div>
        {% endif %}
      </div>
      <div class="ml2-l pl2-l bl b--black-10">
        <div class="black-50 f6">{{item.date_saved | date: "%B %-d, %Y"}} <a class="f6 pl2 newgreen b" href="{{item.url}}">#</a> {% for tag in item.tags %}<a href="/library/?query=tag%3A{{tag}}" class="f6 dib pa2 mr2 bg-light-gray newgreen b br2 link">{{tag}}</a>{% endfor %}</div>
        
      </div>
    
    </div>
    {% endfor %}
  </div>  
</div>

<div class="fixed-l h-100 bg-near-white navlinks br b--black-10 f7 fw6">
  <a class="db-l dn  items-center ma2 ph3  pa2 mv3 link fw8 f6 br3 newgreen" href="/library">
    LIBRARY
  </a>

  <a class="db flex items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" id="" href="">
    <i data-feather="music" class="h1 pr3"></i> <span class="navname">Music</span>
  </a>
  <a class="db flex items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" id="" href="">
    <i data-feather="book" class="h1 pr3"></i> <span class="navname">Books</span>
  </a>
  <a class="db flex items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" id="" href="">
    <i data-feather="link-2" class="h1 pr3"></i> <span class="navname">Links</span>
  </a>
  
  <hr class="mh2 mv4 b--black-10">

  <div class="db flex items-center mh3 pa2 black br3 ttu">
    Tags
  </div>

<div class="pa3">
{% for tag in tags %}
<a href="/library/?query=tag%3A{{tag}}" class="f6 dib pa2 mr2 bg-light-gray newgreen b br2 link">{{tag}}</a>
{% endfor %}
</div>

</div>


</div>  




  
  




  








</div>



{% include 2024-footer.html %}