---
---

{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}


  <div class="w-100 tcgrey center pv4">
    <div class="flex mw8 center items-center">
    <div class="w-40 pa4 dn db-l">
      <img src="/images/tomsmall.jpg" class="br4 shadow-4"/>
    </div>
    <div class="w-60-l pa4 f4 lh-copy">
      <p>Welcome to my digital garden.</p>
      <p>I'm an independent consultant, helping clients do new things. I mostly work with content & media businesses and function as an interim CMO or senior advisor. <a href="https://tomcritchlow.com/consulting/">Learn more about that here</a>.</p>
      <p class="f6"><em>Emails ~monthly:</em></p>
      <form class="" action="https://tinyletter.com/tomcritchlow" method="post" target="popupwindow">
        <fieldset class="cf bn ma0 ph0 pv2">
          <div class="cf f5 helvetica">
            <label class="clip" for="email-address">Email Address</label>
            <input class="input-reset ba b--black-10 fl black-80 bg-white pa3 pv3 lh-solid w-70 w-75-m w-70-l br2-ns br--left-ns" placeholder="Your Email Address" type="text" name="email" value="" id="email-address">
            <input type="hidden" value="1" name="embed">
            <input class="button-reset fl pv3 tc ba b--black-10 bg-animate bg-newgreen hover-bg-dark-green white pointer w-30 w-25-m w-30-l br2-ns br--right-ns" type="submit" value="Subscribe">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  </div>

<div class="mw9 center mv5 ph5-l">
    <div class="flex w-100 items-center ph3">
        <div class="w-10-l w-50 nowrap mr4 b f4">Active Projects</div>
        <div class="bt b--newgreen bw1 w-90-l w-50"></div>

    </div>

    <div class="flex-l w-100-l nowrap overflow-x-auto">
        
        <div class="w-20-l w-80 pa3 db-l dib ws-normal-l">
            <a href="/strategy"><img class="br2 shadow-1" src="https://i.imgur.com/29wPxpB.png" /></a>
          <a href="/strategy" class="link black"><h2 class="f5 mt3 mb0">The Strategic Independent</h2>
          A book about independent consulting</a>
        </div>
        <div class="w-20-l w-80 pa3 db-l dib ws-normal-l">
            <a href="https://littlefutures.substack.com"><img class="br2 shadow-1" src="https://i.imgur.com/JGddRwj.png" /></a>
            <a href="https://littlefutures.substack.com" class="link black"><h2 class="f5 mt3 mb0">Little Futures</h2>
          Near futures provocations</a>
        </div>
        <div class="w-20-l w-80 pa3 db-l dib ws-normal-l">
            <a href="https://fiercelycurious.com"><img class="br2 shadow-1" src="https://i.imgur.com/RevDvzd.png" /></a>
            <a href="https://fiercelycurious.com" class="link black"><h2 class="f5 mt3 mb0">Fiercely Curious</h2>
            A Brooklyn art collective</a>
        </div>
        <div class="w-20-l w-80 pa3 db-l dib ws-normal-l">
            <a href="https://seomba.com"><img class="br2 shadow-1" src="https://i.imgur.com/ON6Jlfc.png" /></a>
            <a href="https://seomba.com" class="link black"><h2 class="f5 mt3 mb0">The SEO MBA</h2>
            Leadership & management skills for SEOs</a>
        </div>
        <div class="w-20-l w-80 pa3 db-l dib ws-normal-l">
            <a href="https://quotebacks.net"></a><img class="br2 shadow-1" src="https://i.imgur.com/wN0xhF8.png" /></a>
            <a href="https://quotebacks.net" class="link black"><h2 class="f5 mt3 mb0">Quotebacks</h2>
            Open source blogging tools</a>
        </div>

    </div>
</div>
        

<div class="mw8 center br4 mv5 ph4">
        <div class="flex w-100 items-center">
            <div class="w-20-l w-75 b f4">Latest Writing</div>
            <div class="bt b--newgreen bw1 w-80"></div>
        </div>
        
        
            {% for post in site.posts  limit:10%}
            {% if post.draft == true %}
            {% else %}
            <div class="flex-l w-100 pv4">
              <div class="w-100 w-20-l">
                  <span class="f6 ttu black-50 pv3">{{ post.date | date: "%-d %B %Y" }}</span>
                  <br><span class="ttu f6 red">{% for tag in post.tags %}{{tag}} {% endfor %}</span>
              </div>
              <div class="w-100 w-80-l">
                    <div class="">
                    {% if post.reply %}<img class="dib h2 v-mid" style="padding-top:0px;padding-bottom:0px" src="https://img.icons8.com/cute-clipart/64/000000/response.png"/>{% endif %}<a class="black link dim b f4 pb2" href="{{ post.url }}">{{ post.title }}</a> 
                    <div class="f4 pb3">{{post.subtitle}}</div>
                    <div class="black-70">{{ post.content | strip_html | truncatewords: 50 }}</div>
                    </div>  
            </div>
          </div>
            {% endif %}
                    {% endfor %}
        
<a class="link" href="/writing"><div class="grow ma3 w5 br4 ba b--newgreen pa3 tc center b newgreen">See all →</div></a>

                  </div>

</div>

{% include footer.html %}