---
---

{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}


  <div class="w-100 tcgrey center pv4">
  
    <div class="flex mw8 center items-center pl5-l">
      <div class="mw6 bg-light-gray pa4 lh-copy relative ba b--newgreen b--dashed">

        <div class="absolute dn db-l" style="left:-115px;top:-25px">
          <img class="br-100 pa1 ba b--newgreen b--dashed h4" src="/images/tomsquare.jpeg" />
        </div>

        <p class="b">Welcome to my digital garden.</p>
        <p>I run a consulting practice helping management teams build <span class="b br3 ba green ph2">new growth capabilities</span>, <span class="b br3 ba purple ph2">strategic clarity</span> and <span class="b br3 ba blue ph2">practical innovation</span>.</p>
        
        <div class="flex flex-wrap items-center mb3">
          <div class="w-100 pb2">Working with clients like these:</div>
          <div class="pr3">
            <img title="The New York Times" src="https://www.google.com/s2/favicons?domain=nytimes.com&sz=256" class="pa1 ba b--black-10 br-100 h2">
          </div>
          <div class="pr3">
            <img title="Google" src="https://www.google.com/s2/favicons?domain=google.com&sz=256" class="pa1 ba b--black-10 br-100 h2">
          </div>                        
          <div class="pr3">
            <img title="Angi" src="https://www.google.com/s2/favicons?domain=angi.com&sz=256" class="pa1 ba b--black-10 br-100 h2">
          </div>  
          <div class="pr3">
            <img title="Etsy" src="https://www.google.com/s2/favicons?domain=etsy.com&sz=256" class="pa1 ba b--black-10 br-100 h2">
          </div>
          <div class="pr3">
            <img title="Gartner" src="https://www.google.com/s2/favicons?domain=gartner.com&sz=256" class="pa1 ba b--black-10 br-100 h2">
          </div>
          <div class="pr3">
            <img title="Atlassian" src="https://www.google.com/s2/favicons?domain=atlassian.com&sz=256" class="pa1 ba b--black-10 br-100 h2">
          </div>
        
          <div class="flex">
            <a class="f6 link dim br2 ph3 pv2 mb2 dib white bg-newgreen" href="https://calendly.com/tomcritchlow/tom-chat">Book an Intro Call</a>
            <a class="f6 link dim br2 ph3 pv2 mb2 dib newgreen underline" href="/consulting">Learn more about my consulting practice</a>
          </div>

    </div>
  
    <div class="mw6 pl5 pv2 f7">
      Latest posts:
      {% for post in site.posts  limit:3%}
      {% if post.draft == true %}
      {% else %}
      <span class="f6 ttu black-50 pv3">{{ post.date | date: "%-d %B %Y" }}</span>
      <div class="">{{post.title}}</div>
      {% endif %}
      {% endfor %}
    </div>


    <div class="mw9 center mv5 ph5-l">
      <div class="flex w-100 items-center ph3">
          <div class="w-10-l w-50 nowrap mr4 b f4">Active Projects</div>
          <div class="bt b--newgreen bw1 w-90-l w-50"></div>
  
      </div>
  
      <div class="flex-l w-100-l nowrap overflow-x-auto" style="scroll-snap-type: x mandatory;">
        
        <div class="w-20-l w-80 pa3 db-l dib ws-normal-l"  style="scroll-snap-align: center;">
          <a href="https://newmba.co"><img class="br2 shadow-1" src="/images/homepage_newmba.png" /></a>
          <a href="https://newmba.co" class="link black"><h2 class="f5 mt3 mb0">The NEW MBA</h2>
          A new kind of online business school</a>
        </div>        
  
          <div class="w-20-l w-80 pa3 db-l dib ws-normal-l" style="scroll-snap-align: center;">
              <a href="/strategy"><img class="br2 shadow-1" src="/images/homepage_book.png" /></a>
            <a href="/strategy" class="link black"><h2 class="f5 mt3 mb0">The Strategic Independent</h2>
            A book about independent consulting</a>
          </div>
  
          <div class="w-20-l w-80 pa3 db-l dib ws-normal-l"  style="scroll-snap-align: center;">
              <a href="https://littlefutures.substack.com"><img class="br2 shadow-1" src="/images/homepage_lf.png" /></a>
              <a href="https://littlefutures.substack.com" class="link black"><h2 class="f5 mt3 mb0">Little Futures</h2>
            Near futures provocations</a>
          </div>
  
          <div class="w-20-l w-80 pa3 db-l dib ws-normal-l"  style="scroll-snap-align: center;">
              <a href="https://seomba.com"><img class="br2 shadow-1" src="/images/homepage_seomba.png" /></a>
              <a href="https://seomba.com" class="link black"><h2 class="f5 mt3 mb0">The SEO MBA</h2>
              Leadership & business skills for SEOs</a>
          </div>
  
          <div class="w-20-l w-80 pa3 db-l dib ws-normal-l"  style="scroll-snap-align: center;">
              <a href="https://quotebacks.net"></a><img class="br2 shadow-1" src="/images/homepage_qbs.png" /></a>
              <a href="https://quotebacks.net" class="link black"><h2 class="f5 mt3 mb0">Quotebacks</h2>
              Open source blogging tools</a>
          </div>
  
      </div>
  </div>  



  </div>



{% include footer.html %}