---
---

{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}

<style>
    details{
        padding:10px;
        margin-top:10px;
    }

    details[open]{
        background-color:#e8fdf5;
    }

    details li{
        padding-top:5px;
        padding-bottom:5px;
    }

    summary{
        cursor:pointer;
    }

    summary:focus{
        outline:none;
    }
</style>

<section class="cf pv5 mw6 center">

    <p>Hi there, I'm Tom Critchlow and this is my digital garden. It's full of stuff. To help with the sprawl take a look at the stuff below</p>


    <details>
        <summary>About Me</summary>
        <p>Based in Brooklyn, NY</p>
        <ul>
            <li><a href="/about/">About page</a></li>
            <li><a href="/now/">/now page</a></li>
            <li><a href="https://twitter.com/tomcritchlow">@tomcritchlow</a> on twitter</li>
            <li>tjcritchlow@gmail.com</li>
            <li><a href="https://tinyletter.com/tomcritchlow">Join my tinyletter</a></li>
        </ul>
    </details>

    


    <details>
        <summary>Digital Strategy Consulting</summary>
        <p>I'm an independent strategy consultant working mainly with media companies.</p>
        <ul>
            <li><a href="/consulting/">An overview of my consulting</a></li>
            <li><a href="https://tomcritchlow.com/2018/07/25/media-design/">The practice of Media Design</a></li>
            <li><a href="https://tomcritchlow.com/2020/02/20/narrative-strategy/">Narrative strategy</a></li>
            <details>
                    <summary>Clients</summary>
                    <ul>
                        <li>The New York Times</li>
                        <li>Etsy</li>
                        <li>Dotdash</li>
                        <li>Gartner</li>
                        <li>Complex Media</li>
                        <li>Reviews.com</li>
                        <li>Seatgeek</li>
                        <li>The Wirecutter</li>
                        <li>Fundera</li>
                    </ul>
                </details>
        </ul>
    </details>      

    <details>
            <summary>Blogging</summary>
            <p>I blog in a few weird ways and blogging has increasingly been a part of my identity.</p>

                    <details open>
                            <summary>Start here:</summary>
                            <ul>
                                <li><a href="">Small b blogging</a></li>
                                <li><a href="">Media Design</a></li>
                                <li><a href="">Narrative strategy</a></li>
                            </ul>
                        </details>  
                    
                    <details>
                            <summary>Blog posts</summary>
                            <ul>
                                {% for post in site.posts  | limit:10%}
                                <li><a href="{{post.url}}">{{post.title}}</a> | {{ post.date | date: "%-d %B %Y" }}</li>
                                {% endfor %}
                                <li><a href="/writing">see all -></a></li>
                            </ul>
                        </details>  
                    
                    <details>
                            <summary>Blogchains</summary>
{% assign blogchains = site.pages | where_exp: "item" , "item.path contains 'blogchains'" | where_exp: "item" , "item.path contains '.md'"  %}
                                <ul>
                                {% for page in blogchains %}
                                <li><a href="{{page.url}}">{{page.title}}</a></li>
                                {% endfor %}
                                </ul>
                        </details>  


        </details>    

    <details>
            <summary>The Strategic Independent (book project)</summary>
            <p>I'm writing a book - working title "The Strategic Independent: theory and practice for independent consultants". I've been serializing the writing on my blog and have ~35k words written so far.</p>
            <ul>
                <li><a href="">The book outline</a></li>
                <li><a href="">Highlight: the strategic independent</a></li>
            </ul>

            <details>
                    <summary>All my writing on independent consulting:</summary>
                    <ul>
                            {% for post in site.posts  %}
                            {% if post.tags contains "strategy" %}
                            <li><a href="{{post.url}}">{{post.title}}</a> | {{ post.date | date: "%-d %B %Y" }}</li>
                            {% endif %}
                            {% endfor %}
                    </ul>
                </details>            

        </details>    


{% assign folders = site.pages | where_exp:"item", "item.path contains 'wiki'" %}
{% assign wikifolders = "" | split:"" %}

{% for folder in folders %}
{% assign tempvar = folder.path | split:"/" %}
{% assign wikifolders = wikifolders | push:tempvar[1] %}
{% endfor %}

{% assign wikifolders = wikifolders | uniq | sort %}

<details>
    <summary>Wiki</summary>
    <p>I maintain a sprawling wiki that I think of as a loosly tended "digital garden". <a href="https://tomcritchlow.com/2019/02/17/building-digital-garden/">Read more about the project here</a>. </p>
    <ul>
        {% for folder in wikifolders %}
        {% unless folder contains 'md' or folder contains 'html' %}
        <li><a href="/wiki/{{folder}}/">{{folder | capitalize}}</a></li>
        {% endunless %}
        {% endfor %}    
    </ul>

</details>

</section>

        

{% include footer.html %}