---
---

{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}

<section class="cf pv5 mw8 center">

<p>Hi there, welcome to my digital homestead. This sit covers a range of interests and identities. I have a blog where I write on media theory, consulting, blogging, architecture and other interest.</p>
<p>For the past 4+ years I've been running a boutique consulting firm called Yes! and... which is mostly just me as an embedded strategic consultant for media companies and startups. Read more about that here.</p>
<p>I also run an art collective with my partner Erin called Fiercely Curious.</p>
<p>My tinyletter is infrequent but contains insider baseball.</p>
<p>And finally my site also functions as a digital garden - I have a wiki that I maintain over here.</p>

<h2>From the <a href="/writing">blog</a>:</h2>

{% for post in site.posts  | limit:5%}
<div class="fl db-l dn w-10">2019</div><div class="fl w-20">17 Feb</div><div class="fl w-80 w-50-l"><a href="#">{{post.title}}</a></div><div class="fl db-l dn w-20">5 comments</div>
{% endfor %}

<h2>Select <a href="#">clients:</a></h2>

<div class="h2">
    <div class="fl w-10">2019</div><div class="fl w-20">Client name</div><div class="fl w-70">Leading earned marketing across the family of brands</div>
</div>
<div class="h2">
    <div class="fl w-10">2018</div><div class="fl w-20">Montefiore</div><div class="fl w-70">Content strategy for digital transformation project</div>
</div>


</section>

        

{% include footer.html %}