---
---

{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}


  <div class="w-100 tcgrey center pv4">
  
    <div class="flex mw8 center items-center">
      <div class="mw6 bg-light-gray pa4 lh-copy relative">

        <div class="absolute">
          <img class="br-100 pa1 ba b--newgreen b--dashed" src="/images/tomsquare.jpeg" />
        </div>

        <p class="b">Welcome to my digital garden.</p>
        <p>I run a consulting practice helping management teams build <span class="b br3 ba green ph2">new growth capabilities</span>, <span class="b br3 ba purple ph2">strategic clarity</span> and <span class="b br3 ba blue ph2">practical innovation</span>.</p>
        
        <div class="flex flex-wrap items-center mb3">
          <div class="w-100 pb2">Working with clients like these:</div>
          <div class="pr3">
            <img title="The New York Times" src="https://www.google.com/s2/favicons?domain=nytimes.com&sz=256" class="pa1 ba b--black-10 br-100 h2">
          </div>
          <div class="pr3">
            <img title="Google" src="https://www.google.com/s2/favicons?domain=google.com&sz=256" class="pa1 ba b--black-10 br-100 h2">
          </div>                        
          <div class="pr3">
            <img title="Angi" src="https://www.google.com/s2/favicons?domain=angi.com&sz=256" class="pa1 ba b--black-10 br-100 h2">
          </div>  
          <div class="pr3">
            <img title="Etsy" src="https://www.google.com/s2/favicons?domain=etsy.com&sz=256" class="pa1 ba b--black-10 br-100 h2">
          </div>
          <div class="pr3">
            <img title="Gartner" src="https://www.google.com/s2/favicons?domain=gartner.com&sz=256" class="pa1 ba b--black-10 br-100 h2">
          </div>
          <div class="pr3">
            <img title="Atlassian" src="https://www.google.com/s2/favicons?domain=atlassian.com&sz=256" class="pa1 ba b--black-10 br-100 h2">
          </div>
        

      </div>

    </div>
    
  </div>


{% include footer.html %}