---
---

{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}

<section class="cf pv5 mw6 center">

    <details open>
        <summary>About Me</summary>
        <p>Hi there, I'm Tom Critchlow and this is my digital garden. It's full of stuff. To help with the sprawl take a look at the stuff below</p>
      </details>


    <details>
        <summary>Digital Strategy Consulting</summary>
        <p>I'm an independent strategy consultant working mainly with media companies.</p>
        <ul>
            <li><a href="">Read about my consulting</a></li>
            <li><a href="">Media Design</a></li>
            <li><a href="">Narrative strategy</a></li>
            <details>
                    <summary>Case Studies</summary>
                    <ul>
                        <li><a href="">Read about my consulting</a></li>
                        <li><a href="">Media Design</a></li>
                        <li><a href="">Narrative strategy</a></li>
                    </ul>>
                </details>
        </ul>
    </details>      

    <details>
            <summary>Blogging</summary>
            <p>I blog in a few weird ways and blogging has increasingly been a part of my identity.</p>
            <ul>
                    <li><details open>
                            <summary>Start here:</summary>
                            <ul>
                                <li><a href="">Small b blogging</a></li>
                                <li><a href="">Media Design</a></li>
                                <li><a href="">Narrative strategy</a></li>
                            </ul>
                        </details>  
                    </li>
                    <li><details>
                            <summary>Blog posts</summary>
                            <ul>
                                <li><a href="">Small b blogging</a></li>
                                <li><a href="">Media Design</a></li>
                                <li><a href="">Narrative strategy</a></li>
                            </ul>
                        </details>  
                    </li>
                    <li><details>
                            <summary>Blogchains</summary>
                            <ul>
                                <li><a href="">Small b blogging</a></li>
                                <li><a href="">Media Design</a></li>
                                <li><a href="">Narrative strategy</a></li>
                            </ul>
                        </details>  
                    </li>

            </ul>>
        </details>    

</section>

        

{% include footer.html %}