---
---

{% include head.html %}

{% include googleanalytics.html %}

<nav class="db dt-l w-100 border-box pa4 ph5-l">
    <a class="db dtc-l v-mid mid-gray link b dim w-100 w-25-l f3 tc tl-l mb2 mb0-l" href="#" title="Home">
      Tom Critchlow
    </a>
    <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
      <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="#" title="Home">Writing</a>
      <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="#" title="How it Works">Wiki</a>
      <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="#" title="Blog">Consulting</a>
      <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="#" title="Press">Book</a>
      <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="#" title="Contact">About</a>
      <a href="https://twitter.com/tomcritchlow" class="link dim dark-gray f6 f5-l dib black-70 v-mid" rel="me">
        <svg class="dib w2 h2" data-icon="twitter" viewBox="0 0 512 512" fill="currentColor">
          <title>twitter icon</title>
          <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
        </svg>
      </a>
    </div>
  </nav>


  <div class="flex mw8 center br4 mv5 ph4">
    <div class="w-30">
      <img src="/images/tomsmall.jpg" />
    </div>
    <div class="w-70 pa4 f4 br4 br--right tcgrey lh-copy">
      <p>Welcome to my digital garden, a homestead for my many digital identities.</p>
      <p>I'm an independent consultant, working on capacity building projects for content businesses, playing interim-CMO roles and advising senior leaders on growth. <a href="https://tomcritchlow.com/consulting/">Learn more about that here</a>.</p>
      <p>Sign up for updates:</p>
      <form class="" action="https://tinyletter.com/tomcritchlow" method="post" target="popupwindow">
        <fieldset class="cf bn ma0 ph0 pv2">
          <div class="cf f5 helvetica">
            <label class="clip" for="email-address">Email Address</label>
            <input class="input-reset ba b--black-10 fl black-80 bg-white pa3 pv3 lh-solid w-70 w-75-m w-70-l br2-ns br--left-ns" placeholder="Your Email Address" type="text" name="email" value="" id="email-address">
            <input type="hidden" value="1" name="embed">
            <input class="button-reset fl pv3 tc ba b--black-10 bg-animate bg-newgreen hover-bg-dark-green white pointer w-30 w-25-m w-30-l br2-ns br--right-ns" type="submit" value="Subscribe">
          </div>
        </fieldset>
      </form>
      <div class="f5 i black-70 tc">Or <a href="https://tomcritchlow.com/feed">subscribe to my RSS feed</a></div>
    </div>
    
  </div>

<div class="mw8 center br4 mv5 ph4">
    <div class="flex w-100 items-center">
        <div class="w-20 b f4">Active Projects</div>
        <div class="bt b--newgreen bw1 w-80"></div>

    </div>

    <div class="flex">
<div class="w-20"></div>
<div class="w-80 f4">
        
    <div class="pv3">
    <a class="black link b" href="/">The Consultant's Grain</a>
    <br>I'm writing a book about independent consulting
    </div>

    <div class="pv3">
    <a class="black link b" href="/">Fiercely Curious</a>
    <br>An online art collective
    </div>

    <div class="pv3">
    <a class="black link b" href="/">Little Futures</a>
    <br>A near futures newsletter
    </div> 
            
    <div class="pv3">
      <a class="black link b" href="/">Quotebacks</a>
      <br>Blogging knowledge infrastructure
      </div>                

    <div class="pv3">
    <a class="black link b" href="/">The SEO MBA</a>
    <br>Leadership & business skills for SEO professionals
    </div>                
            
</div>

    </div>
</div>
        

<div class="mw8 center br4 mv5 ph4">
        <div class="flex w-100 items-center">
            <div class="w-20 b f4">Latest Writing</div>
            <div class="bt b--newgreen bw1 w-80"></div>
        </div>
        
        
            {% for post in site.posts  limit:10%}
            {% if post.draft == true %}
            {% else %}
            <div class="flex w-100 pv3">
              <div class="w-20">
                  <span class="f6 ttu black-50 pv3">{{ post.date | date: "%-d %B %Y" }}</span>
                  <br><span class="ttu f6 red">{% for tag in post.tags %}{{tag}} {% endfor %}</span>
              </div>
              <div class="w-80">
                    <div class="">
                    {% if post.reply %}<img class="dib h2 v-mid" style="padding-top:0px;padding-bottom:0px" src="https://img.icons8.com/cute-clipart/64/000000/response.png"/>{% endif %}<a class="black link dim b f4 pb2" href="{{ post.url }}">{{ post.title }}</a> 
                    <br><span class="black-50 f6"  data-page-id="http://tomcritchlow.com{{post.url}}"><a id="commentolink" href="{{ post.url }}#commento"></a></span>
                    <span class="black-70">{{ post.content | strip_html | truncatewords: 50 }}</span>
                    </div>  
            </div>
          </div>
            {% endif %}
                    {% endfor %}
        
                  </div>

</div>

{% include footer.html %}