---
---

{% include head.html %}

<style>

html{border:none}

.bookheader{
	width:700px;
	height:400px;
	margin:auto;
	
}

.bookheader:before {
  content: "";
  position: fixed;
  left: -5px;
  right: 0;
  top:0;
  z-index: -1;
  
  display: block;
  background-image:url('http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0316005401&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=reddbook-20');
  background-size:cover;
  width: 105%;
  height: 400px;
  
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
 
}

.bookcover{
width:350px;
float:left;
}

.bookcta{
	width:350px;
	float:left;
}

h1{
	color:white;
}

</style>

<div class="bookheader">

	<div class="bookcover">
		<a href="http://www.amazon.com/gp/product/0316005401/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0316005401&linkCode=as2&tag=reddbook-20&linkId=TX7QZNDUWS5U2Q4G"><img border="0" src="http://images.amazon.com/images/P/0316005401.01.LZZZZZZZ.jpg" ></a>
	</div>

	<div class="bookcta">
		
		<h1>The Player of Games</h1>
		<h2>by Iain M. Banks</h2>
		
		</div>

</div>


{% include googleanalytics.html %}

</body>

