---
---

{% include head.html %}

{% include googleanalytics.html %}

{% include 2024-nav.html %}

<div class="w-10- h-100 overflow-x-scroll flex">

    {% for post in site.posts | limit: 5 %}

    <div class="w-third mh4 h-100 ba b--newgreen br2 pa3 relative">
        <h1>{{post.title}}</h1>
        <h2>{{post.subtitle}}</h2>
        <div class="">
            {{post.content}}
        </div>

        <div class="fixed bottom-0 bg-newgreen-light w-100 pv3 tc">
            <a href="{{post.url}}" class="link black">Read Post</a>
        </div>
    </div>

    {% endfor %}

    


</div>

{% include 2024-footer.html %}