---
---

{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}

<div class="mw9 ph0-l ph1 center">

    <h1 class="f2 f-subheadline-l fw8 lh-solid mv2 tc">Workshops</h1>
    <h2 class="f3 f2-l fw3 lh-copy tc">Ideas in Motion</h2>

<div>Hi there, I offer workshops (aka “ideas in motion”) as an offering to engage together.
    They’re good for me and they’re good for you and I’m looking to increase the number of workshops I do in 2018
    Who is this for: companies looking to create clarity and alignment around key marketing & growth initiatives.
    </div>

<section class="bg-light-gray cf">

<div class="pa3-ns">

    <h2 class="f5 ttu tracked fw6">How Workshops Work</h2>

        <div class="fl w-100 w-third-l">
        <h2>1) Align on 2-3 key challenges</h2>
        Its useful to focus our objectives on some specific challenges.

        </div>

        <div class="fl w-100 w-third-l">
        <h2>2) Pre-work touchpoints</h2>
        Before we get together it's useful to connect and align on some directions for the workshop, make sure some of my assumptions are valid and so on.
        </div>

        <div class="fl w-100 w-third-l">
        <h2>3) Research & Preparation</h2>
        Every workshop requires some research and prep work. I tend to dive into a couple specific things to try and bring something provocative to the workshop.
        </div>

        <div class="fl w-100 w-third-l">
        <h2>4) Agenda & Schedule</h2>
        Planning.
        </div>   

        <div class="fl w-100 w-third-l">
        <h2>5) Workshop!</h2>
        Do the thing
        </div> 
        
        <div class="fl w-100 w-third-l">
            <h2>6) Debrief & Followup</h2>
            During the workshop we create shared docs and notes but the debrief is useful to make sure we take away the right insights and to discuss ways of taking it forward once the ideas settle.
            </div>                   
</div>

</section>

<h1 class="tc">The Tensions of Modern Marketing</h1>
<div class="">Every business I work with seems to currently struggle along these tensions:</div>


<div class="pa3-ns cf mw8 center">
    <h3 class="f6 ttu fw6 mt0 mb3 bb pb2">Mediabrands</h3>


    <img class="dib v-mid pa4-l" src="/images/mediabrands.png" />


<div class="w-two-thirds-l f3 dib v-mid">
    In the distributed and social world we live in there’s a tension between brands, who specialize in user acquisition, user insights and monetization. And media companies, who specialize in editorial, narrative, story and (often) purpose.

    Brands lack distribution and interestingness
    
    Media companies lack user insights, or a notion of branding.
    
    (And there’s a middle grey area of affiliate businesses that generate content at the scale of media properties but are more savvy on the commercials while being less editorially interesting).
    

</div>
  

</div>

<div class="pa3-ns cf mw8 center">
    <h3 class="f6 ttu fw6 mt0 mb3 bb pb2">Brand v Acquisition</h3>


    <img class="dib v-mid pa4-l" src="/images/brand v acquisition.png" />


<div class="w-two-thirds-l f3 dib v-mid">
    When was the last time the VP of Brand spoke to the VP of growth?

    Brand marketing (and brand marketers) excel at positioning a brand into something relevant. But they lack the data fluency and action-oriented mindset of a growth team.
    
    Activities like paid acquisition, SEO and content marketing often fall under the leadership of data driven marketers, while the brand is somewhere else trying to move a different set of KPIs.
    
    But in today’s world we reach users in a diverse set of always-on channels and need brand and performance to work in unison.
    

</div>
  

</div>

<div class="pa3-ns cf mw8 center">
    <h3 class="f6 ttu fw6 mt0 mb3 bb pb2">Systems of Insight</h3>


    <img class="dib v-mid pa4-l" src="/images/brand v acquisition.png" />


<div class="w-two-thirds-l f3 dib v-mid">
    We must balance carefully the tension between the ill-defined and abstract work of gathering insights about our users and audience with the formulaic and scalable process of executing marketing activities.

    In today’s technology landscape we need to build system of insight to gather feedback loops between users and our product and marketing.
    
    

</div>
  

</div>

<div class="pa3-ns cf mw8 center">
    <h3 class="f6 ttu fw6 mt0 mb3 bb pb2">Purpose v Process</h3>


    <img class="dib v-mid pa4-l" src="/images/brand v acquisition.png" />


<div class="w-two-thirds-l f3 dib v-mid">
    Marketing is ruled by processes.

But to better push decision making to the edges - top down marketing strategy is failed strategy.

    

</div>
  

</div>

<div class="pa3-ns cf mw8 center">
    <h3 class="f6 ttu fw6 mt0 mb3 bb pb2">Measurable Creativity</h3>


    <img class="dib v-mid pa4-l" src="/images/brand v acquisition.png" />


<div class="w-two-thirds-l f3 dib v-mid">
    The greatest trick the devil ever played was helping marketing become “measurable”. We can measure ever smaller pulsating cells of atomic marketing but struggle to reconcile with ambitious and different marketing campaigns.

    The most effective thing we can do is the thing that’s never been seen before. Conversely how can we bring more rigour to the abstract creative nature of content, brand and editorial?
    
    

</div>
  

</div>

<h1 class="tc">What I've Learned Running Workshops</h1>

<div class="cf">
    <div class="dib v-mid f2 fl w-50 pa5">Workshops are overengineered for comfort.</div>
    <div class="dib v-mid f3 fl w-50 pa5">Too many workshops have rigid formats and don’t allow for free ranging conversations. The way I work is often more like sparring and back and forth.
    </div>
</div>

<div class="cf">
    <div class="dib v-mid f2 fl w-50 pa5">You can’t “solve” much in a one or two day workshop.
    </div>
    <div class="dib v-mid f3 fl w-50 pa5">The aim of a workshop is to get to new ways of seeing. Solutions and breakthroughs often drop out but they’re not the goal.
    </div>
</div>

<div class="cf">
    <div class="dib v-mid f2 fl w-50 pa5">Experiments are deliverables
    </div>
    <div class="dib v-mid f3 fl w-50 pa5">Immediate value is often realized from creating a shared set of experiments to validate - MVPs of campaigns, project structure, hiring and more
    </div>
</div>


<h1 class="tc">Why me?</h1>

<div class="mw9">

<div class="w-50 fl pa5">
    <img src="/images/tomsmall.jpg" />
</div>

<div class="w-50 fl pa5">
    <div class="f4">I've got 10 years of digital experience.</div>
</div>

</div>

<section class="bg-washed-green cf w-100">
    <h2 class="f5 ttu tracked fw6">How Workshops Work</h2>
    
    <div class="">
<h2>International Expansion</h2>
</div>


</section>


<div class="cf w-100">

    <div>Workshops start at $10,000 for two days. Inquire for custom workshops.</div>
</div>

</div>

{% include footer.html %}