---
---

{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}

<div class="mw8 ph0-l ph1 center">

    <h1 class="f2 f-subheadline-l fw8 lh-solid mv2 center">Working with me</h1>
    <h2 class="f3 f2-l fw3 lh-copy center">Ideas in Motion</h2>

<div>Hi there, I offer workshops (aka “ideas in motion”) as an offering to engage together.
    They’re good for me and they’re good for you and I’m looking to increase the number of workshops I do in 2018
    Who is this for: companies looking to create clarity and alignment around key marketing & growth initiatives.
    </div>

<div class="pa3-ns">

    <h2 class="f5 ttu tracked fw6">How Workshops Work</h2>

  <div class="fl w-100 w-third-l">
    1) Align on 2-3 key challenges
  </div>

  <div class="fl w-100 w-third-l">
      1) Align on 2-3 key challenges
    </div>

</div>

</div>

{% include footer.html %}