---
---

{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}

<div class="mw9 ph0-l ph1 center">

    <h1 class="f2 f-subheadline-l fw8 lh-solid mv2 tc">Workshops</h1>
    <h2 class="f3 f2-l fw3 lh-copy tc">Strategy in Motion</h2>

<div class="mw7 pa3 f3 lh-copy center">Workshops are an efficient way to tackle key strategy moments. Whether it's creating provocations or clarity they're good for you and good for me: a time-boxed way to learn about working together and make real progress on key initiatives. Interested? Get in touch: <a href="mailto:tjcritchlow@gmail.com">tjcritchlow@gmail.com</a>
    </div>



<h1 class="tc">The Tensions of Modern Marketing Teams</h1>
<div class="tc">Every business I work with seems to currently struggle along these tensions:</div>


<div class="pa3-ns cf mw8 center">
    <h3 class="f4 ttu fw6 mt0 mb3 pt5 pb2 tc">Tension #1: Mediabrands</h3>

   <div class="center tc">
        <div class="w-third f3 tc dib v-mid">Brands</div>
        <div class="dottedgreenarrow w-20 dib v-mid"></div>
        <div class="w-third f3 dib v-mid tc">Media <br>Companies</div>
    </div> 



<div class="w-75 center f3 pb3 pt3">
    In the distributed and social world we live in there’s a tension between brands, who specialize in user acquisition, user insights and monetization. And media companies, who specialize in editorial, narrative, story and (often) purpose.
<br><br>
    Brands lack distribution and interestingness
    <br><br>
    Media companies lack user insights, or a notion of branding.
    <br><br>
    (And there’s a middle grey area of affiliate businesses that generate content at the scale of media properties but are more savvy on the commercials while being less editorially interesting).
    

</div>
</div>
  



<div class="pa3-ns cf mw8 center">
        <h3 class="f4 ttu fw6 mt0 mb3 pt5 pb2 tc">Tension #2: Brand at the speed of performance</h3>
    
       <div class="center tc">
        <div class="w-third f3 tc dib v-mid">Brand<br>Marketing</div>
        <div class="dottedgreenarrow w-20 dib v-mid"></div>
        <div class="w-third f3 dib v-mid tc">Performance<br>Marketing</div>
    </div> 


    <div class="w-75 center f3 pb3 pt3">
    When was the last time the VP of Brand spoke to the VP of growth?
<br><br>
    Brand marketing (and brand marketers) excel at positioning a brand into something relevant. But they lack the data fluency and action-oriented mindset of a growth team.
    <br><br>
    Activities like paid acquisition, SEO and content marketing often fall under the leadership of data driven marketers, while the brand is somewhere else trying to move a different set of KPIs.
    <br><br>
    But in today’s world we reach users in a diverse set of always-on channels and need brand and performance to work in unison.
    

</div>
  

</div>

<div class="pa3-ns cf mw8 center">
<h3 class="f4 ttu fw6 mt0 mb3 pt5 pb2 tc">Tension #3: Systems of insight</h3>
    
<div class="center tc">
 <div class="w-third f3 tc dib v-mid">Insights</div>
 <div class="dottedgreenarrow w-20 dib v-mid"></div>
 <div class="w-third f3 dib v-mid tc">Execution</div>
</div> 


<div class="w-75 center f3 pb3 pt3">
    We must balance carefully the tension between the ill-defined and abstract work of gathering insights about our users and audience with the formulaic and scalable process of executing marketing activities.
<br><br>
    In today’s technology landscape we need to build system of insight to gather feedback loops between users and our product and marketing.
    
    

</div>
  

</div>

<div class="pa3-ns cf mw8 center">
    
<h3 class="f4 ttu fw6 mt0 mb3 pt5 pb2 tc">Tension #4: Processes & Purpose</h3>

<div class="center tc">
        <div class="w-third f3 tc dib v-mid">Purpose</div>
        <div class="dottedgreenarrow w-20 dib v-mid"></div>
        <div class="w-third f3 dib v-mid tc">Processes</div>
       </div> 



<div class="w-75 center f3 pb3 pt3">
    Marketing is ruled by processes.
<br><br>
But to better push decision making to the edges - top down marketing strategy is failed strategy.

    

</div>
  

</div>

<div class="pa3-ns cf mw8 center">
    
    <h3 class="f4 ttu fw6 mt0 mb3 pt5 pb2 tc">Tension #5: Measurable Creativity</h3>
    
    <div class="center tc">
            <div class="w-third f3 tc dib v-mid">Data</div>
            <div class="dottedgreenarrow w-20 dib v-mid"></div>
            <div class="w-third f3 dib v-mid tc">Creativity</div>
           </div> 
    
    
    
    <div class="w-75 center f3 pb3 pt3">
        
        The greatest trick the devil ever played was helping marketing become “measurable”. We can measure ever smaller pulsating cells of atomic marketing but struggle to reconcile with ambitious and different marketing campaigns.
<br><br>
        The most effective thing we can do is the thing that’s never been seen before. Conversely how can we bring more rigour to the abstract creative nature of content, brand and editorial?
        
        
    
    </div>
      
    
    </div>


<section class="bg-light-gray cf">

        <div class="pa3-ns">
        
            <h2 class="f5 ttu tracked fw6">How Workshops Work</h2>
        
                <div class="fl w-100 w-third-l">
                <h2>1) Align on 2-3 key challenges</h2>
                Its useful to focus our objectives on some specific challenges.
        
                </div>
        
                <div class="fl w-100 w-third-l">
                <h2>2) Pre-work touchpoints</h2>
                Before we get together it's useful to connect and align on some directions for the workshop, make sure some of my assumptions are valid and so on.
                </div>
        
                <div class="fl w-100 w-third-l">
                <h2>3) Research & Preparation</h2>
                Every workshop requires some research and prep work. I tend to dive into a couple specific things to try and bring something provocative to the workshop.
                </div>
        
                <div class="fl w-100 w-third-l">
                <h2>4) Agenda & Schedule</h2>
                Planning.
                </div>   
        
                <div class="fl w-100 w-third-l">
                <h2>5) Workshop!</h2>
                Do the thing
                </div> 
                
                <div class="fl w-100 w-third-l">
                    <h2>6) Debrief & Followup</h2>
                    During the workshop we create shared docs and notes but the debrief is useful to make sure we take away the right insights and to discuss ways of taking it forward once the ideas settle.
                    </div>                   
        </div>
        
        </section>

<h1 class="tc">What I've Learned Running Workshops</h1>

<div class="cf">
    <div class="dib v-mid f2 fl w-50 pa5">Workshops are overengineered for comfort.</div>
    <div class="dib v-mid f3 fl w-50 pa5">Too many workshops have rigid formats and don’t allow for free ranging conversations. The way I work is often more like sparring and back and forth.
    </div>
</div>

<div class="cf">
    <div class="dib v-mid f2 fl w-50 pa5">You can’t “solve” much in a one or two day workshop.
    </div>
    <div class="dib v-mid f3 fl w-50 pa5">The aim of a workshop is to get to new ways of seeing. Solutions and breakthroughs often drop out but they’re not the goal.
    </div>
</div>

<div class="cf">
    <div class="dib v-mid f2 fl w-50 pa5">Experiments are deliverables
    </div>
    <div class="dib v-mid f3 fl w-50 pa5">Immediate value is often realized from creating a shared set of experiments to validate - MVPs of campaigns, project structure, hiring and more
    </div>
</div>


<h1 class="tc">Why me?</h1>

<div class="w-100 cf">

<div class="w-50 fl">
    <img src="/images/tomspeaking.jpg" />
</div>

<div class="w-50 fl pa3">
    <div class="f4">
        <p>- I've got 10 years of digital experience.</p>
        <p>- Brand positioning & brand workshops</p>
        <p>- Exerience with org design, hiring</p>
        <p>- Analytical thinker</p>
        <p>- Consulting done with a british accent</p>
    
    </div>
</div>

</div>

<section class="bg-washed-green cf w-100">
    <div class="pa3-ns">

        <h2 class="f5 ttu tracked fw6">Examples</h2>
    
            <div class="fl w-100 w-third-l">
            <h2>International Expansion</h2>
            Helping a client launch in new country
    
            </div>
    
            <div class="fl w-100 w-third-l">
            <h2>Pre-business</h2>
            Financial firm planning and launching two new brands from scratch
            </div>
    
            <div class="fl w-100 w-third-l">
            <h2>SEO center of excellence</h2>
            Enterprise benchmark
            </div>
    
            <div class="fl w-100 w-third-l">
            <h2>Consulting skills</h2>
            Planning.
            </div>   
    
            <div class="fl w-100 w-third-l">
            <h2>Helping an agency evolve</h2>
            Content
            </div> 
            
            <div class="fl w-100 w-third-l">
                <h2>Media re-platfomr</h2>
                Hello
                </div>                   
    </div>


</section>


</div>

{% include footer.html %}