---
---
{% assign tags = site.library | map: 'tags' | compact | join: ',' | split: ',' | uniq %}

{% include head.html %}

{% include googleanalytics.html %}

{% include 2024-nav.html %}

</div>

<style>
  @media (min-width:961px){
.navlinks{
  width:223px;
}

.mainlinks{
  padding-left:223px
}
}

</style>


<div class="w-100 center">

<div class="flex-l relative">

<div class="fixed-l h-100 bg-near-white navlinks br b--black-10 f7 fw6">
<a class="db-l dib items-center ph3  pa2 mv3-l link fw8 f6 br3 newgreen" href="/library">
WRITING
</a>

<a class="db-l dib flex-l items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" id="" href="/writing">
  <i data-feather="calendar" class="h1 pr3"></i> <span class="navname dn db-l">Latest</span>
</a>
<a class="db-l dib flex-l items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" id="" href="/start-here">
<i data-feather="play-circle" class="h1 pr3"></i> <span class="navname dn db-l">Start Here</span>
</a>
<a class="db-l dib flex-l items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" id="" href="/topics">
<i data-feather="folder" class="h1 pr3"></i> <span class="navname dn db-l">Topics</span>
</a>
<a class="db-l dib flex-l items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" id="" href="/map">
<i data-feather="compass" class="h1 pr3"></i> <span class="navname dn db-l">Map</span>
</a>



<hr class="mh2 mv4 b--black-10 dn db-l">

<div class="dn db-l items-center mh3 pa2 black br3 ttu">
  <div class="newgreen mh3 ph2 mv2 navname" style="pointer-events: auto;">Subscribe</div>
<a class="db-l dib flex-l items-center pa2 bg-animate hover-bg-white link black br3 ttu" id="" href="https://newsletter.tomcritchlow.com/">
  <i data-feather="mail" class="h1 pr3"></i> <span class="navname dn db-l">Newsletter</span>
  </a>
<a class="db-l dib flex-l items-center pa2 bg-animate hover-bg-white link black br3 ttu" id="" href="https://tomcritchlow.com/feed">
  <i data-feather="rss" class="h1 pr3"></i> <span class="navname dn db-l">RSS</span>
  </a>

</div>
</div>



<div class="mainlinks pv4-l mh5-l ph3">

{% include streak.html %}

{% for post in site.posts  %}
{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

{% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
{% capture next_month %}{{ post.next.date | date: "%B" }}{% endcapture %}

{% if forloop.first %}
<div id="{{ this_year }}-ref" class="b f4 pv2">{{this_year}}</div>

{% endif %}

{% if post.draft == true %}
{% else %}

{% if forloop.first %}
<div class="f7 ttu black-70 b pt4">{{ this_month }}</div>
{% elsif this_month != next_month %}
<div class="f7 ttu black-70 b pt4">{{ this_month }}</div>
{% endif %}

<div class="flex flex-wrap w-100 pv2 justify-between f5">
  <div class="w-100 w-auto-l">
  <a class="link newgreen b" href="https://tomcritchlow.com{{post.url}}">{{post.title}}</a>
  <br><span class="black-50 i">{{post.subtitle}}</span>
  </div>
  <div class="black-50 f6 tr">{{ post.date | date: "%B %-d, %Y" }}
  <br><span class="black-50 f6"  data-page-id="http://tomcritchlow.com{{post.url}}"><a class="link black-50" id="commentolink" href="{{ post.url }}#commento"></a></span></div>
</div>

{% endif %}



{% if forloop.last %}

{% else %}
{% if this_year != next_year %}
<div id="{{ next_year }}-ref" class="b f4 pv2">{{next_year}}</div>

{% endif %}
{% endif %}
{% endfor %}
</div>

<script>
window.commentoCustomText = function(count) {
  if(count === 0) {
    return "";
  } else if (count === 1) {
    return "⚡ 1 comment";
  } else {
    return "⚡ "+ count + " comments";
  }
}
</script>
<script src="https://cdn.commento.io/js/count.js" data-custom-text="window.commentoCustomText"></script>

{% include 2024-footer.html %}