<style>
#nav{
    width:223px;
    height:100vh;
  }

  #maincontent{
    margin-left:223px;
  }

  @media (max-width: 1024px) {
      #nav{
          width:100%;
      }

      #maincontent{
          margin-left:auto;
      }
  }
</style>


<div class="dn-l db w-100 pa3" style="position:sticky;top:0px">
    <a class="link dim dark-gray f6 f5-l dib ttu pt2 pt0-l dtc-l v-mid newgreen b" href="/" title="Home">TOM CRITCHLOW</a>
    <div class="fr dib dn-l pt1">    
        <div id="hamburger" class="hamburger hamburger--squeeze">
                <div class="hamburger-box">
                  <div class="hamburger-inner"></div>
                </div>
              </div>
    
    </div>
</div>

<div class="flex items-stretch h-100 w-100">
  
    

    

    <div id="nav" class="w5 bg-near-white f7 fw6 br-l bt-0-l bb-0-l bt bb b--black-10 fixed dn db-l top-0-l left-0 overflow-y-scroll">
      
      
      
    
      <a class="db-l dn  items-center ma2 ph3  pa2 mv3 link fw8 f6 br3 newgreen" href="#">
        TOM CRITCHLOW
      </a>
    
{% for link in site.data.nav.main_links %}

<a class="db flex items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" id="{{link.name}}" href="{{link.url}}">
    <i data-feather="{{link.feathericon}}" class="h1 pr3"></i> {{link.name}}
  </a>
{% endfor %}

{% for group in site.data.nav.groups %}
<div class="mv4">
    <div class="newgreen mh3 ph2 mv2">{{group.group_name}}</div>

{% for link in group.links %}
<a class="db flex items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" id="{{link.name}}" href="{{link.url}}">
    <i data-feather="{{link.feathericon}}" class="h1 pr3"></i> {{link.name}}
  </a>
{% endfor %}
</div>
{% endfor %}
      
      </div>

<script>
    
var $hamburger = $("#hamburger");
            $hamburger.on("click", function(e) {

              $hamburger.toggleClass("is-active");
              $("#nav").toggleClass("dn");
   
            }); 
            

feather.replace();
      

function addClassBasedOnUrlWithSwitch() {
  // Get the current URL
  const url = window.location.href;
  
  switch (true) {
    case url == "https://tomcritchlow.com/":
      const div0 = document.getElementById("Home");
      if (div0) {
        div0.classList.add('bg-white');
      }
      break;
    case url.includes("https://tomcritchlow.com/?"):
      const div1 = document.getElementById("Home");
      if (div1) {
        div1.classList.add('bg-white');
      }
      break;      
    case url.includes("/about/"):
      const div2 = document.getElementById("About me");
      if (div2) {
        div2.classList.add('bg-white');
      }
      break;
    case url.includes("/writing/"):
      const div3 = document.getElementById("Writing");
      if (div3) {
        div3.classList.add('bg-white');
      }
      break;
    case url.includes("/newsletter"):
      const div4 = document.getElementById("Newsletter");
      if (div4) {
        div4.classList.add('bg-white');
      }
      break;
    case url.includes("/search"):
      const div5 = document.getElementById("Search");
      if (div5) {
        div5.classList.add('bg-white');
      }
      break;
    case url.includes("/start-here"):
      const div6 = document.getElementById("Start here");
      if (div6) {
        div6.classList.add('bg-white');
      }
      break;
    case url.includes("/topics/"):
      const div7 = document.getElementById("Topics");
      if (div7) {
        div7.classList.add('bg-white');
      }
      break;                              
    
    default:
      // Code to run if none of the above cases are true
      break;
  }
}

// Call the function
addClassBasedOnUrlWithSwitch();



</script>

    <div class="w-100 h-100" id="maincontent">
      <div class="mw8 center w-100 h-100">
        
    
        
    