<script src="https://unpkg.com/feather-icons"></script>
<div class="flex">
  
    <div id="nav" class="w5 bg-near-white f7 fw6 br b--black-10 fixed top-0 left-0 overflow-y-scroll">
      
      
      
    
      <a class="db flex items-center ma2 ph3  pa2 mv4 link fw6 f6 br3 newgreen" href="#">
        TOM CRITCHLOW
      </a>
    
{% for link in site.data.nav.main_links %}
<a class="db flex items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" href="{{link.url}}">
    <i data-feather="{{link.feathericon}}" class="h1 pr3"></i> {{link.name}}
  </a>
{% endfor %}


      <a class="db flex items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" href="#">
        <i data-feather="home" class="h1 pr3"></i> Home
      </a>
      
      <a class="db flex items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" href="#">
        <i data-feather="user" class="h1 pr3"></i> About Me
      </a>
    
      <a class="db flex items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" href="#">
        <i data-feather="rss" class="h1 pr3"></i> Writing
      </a>
      
      <a class="db flex items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" href="#">
        <i data-feather="mail" class="h1 pr3"></i> Newsletter
      </a>
    
      <div class="mv4">
        <div class="newgreen mh3 ph2 mv2">Blog</div>
    
        <a class="db flex items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" href="#">
          <i data-feather="play-circle" class="h1 pr3"></i> Start here
        </a>
    
        <a class="db flex items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" href="#">
          <i data-feather="calendar" class="h1 pr3"></i> Latest Writing
        </a>
    
        <a class="db flex items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" href="#">
          <i data-feather="folder" class="h1 pr3"></i> Topics
        </a>
      </div>
    
      <div class="mv4">
        <div class="newgreen mh3 ph2 mv2">Hire me</div>
    
        <a class="db flex items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" href="#">
          <i data-feather="play-circle" class="h1 pr3"></i> Consulting
        </a>
    
        <a class="db flex items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" href="#">
          <i data-feather="calendar" class="h1 pr3"></i> Advisor
        </a>
      </div>
    
      <div class="mv4">
        <div class="newgreen mh3 ph2 mv2">Elsewhere</div>
    
        <a class="db flex items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" href="#">
          <i data-feather="twitter" class="h1 pr3"></i> Twitter
        </a>
    
        <a class="db flex items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" href="#">
          <i data-feather="linkedin" class="h1 pr3"></i> LinkedIn</a>
    
    
        <a class="db flex items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" href="#">
          <i data-feather="calendar" class="h1 pr3"></i> Are.na</a>
      </div>
    
      
        
      
      
    
      
      </div>
    
    <div class="w-100" id="maincontent">
      <div class="mw8 center">
        <div class="pt4 pt5-l pb2 w-two-thirds-ns center">
    
        
    