<script src="https://unpkg.com/feather-icons"></script>

<style>
#nav{
    width:223px;
    height:100vh;
  }

  #maincontent{
    margin-left:223px;
  }

  @media (max-width: 1024px) {
      #nav{
          width:100%;
      }

      #maincontent{
          margin-left:auto;
      }
  }
</style>


<div class="flex">
  
    <div class="fr dib dn-l pt1">    
        <div id="hamburger" class="hamburger hamburger--squeeze">
                <div class="hamburger-box">
                  <div class="hamburger-inner"></div>
                </div>
              </div>
    
    </div>

    <div id="nav" class="w5 bg-near-white f7 fw6 br b--black-10 fixed-l dn db-l top-0 left-0 overflow-y-scroll">
      
      
      
    
      <a class="db flex items-center ma2 ph3  pa2 mv4 link fw6 f6 br3 newgreen" href="#">
        TOM CRITCHLOW
      </a>
    
{% for link in site.data.nav.main_links %}
<a class="db flex items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" href="{{link.url}}">
    <i data-feather="{{link.feathericon}}" class="h1 pr3"></i> {{link.name}}
  </a>
{% endfor %}

{% for group in site.data.nav.groups %}
<div class="mv4">
    <div class="newgreen mh3 ph2 mv2">{{group.group_name}}</div>

{% for link in group.links %}
<a class="db flex items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" href="{{link.url}}">
    <i data-feather="{{link.feathericon}}" class="h1 pr3"></i> {{link.name}}
  </a>
{% endfor %}
</div>
{% endfor %}
      
      </div>

<script>
    
var $hamburger = $("#mobilemenu");
            $hamburger.on("click", function(e) {

              $hamburger.toggleClass("is-active");
              $("#nav").toggleClass("dn");
   
            }); 

</script>

    <div class="w-100" id="maincontent">
      <div class="mw8 center">
        <div class="pt4 pt5-l pb2 w-two-thirds-ns center">
    
        
    