{% if page.blogchain %}
    {% assign blogchainfilter = page.blogchain %}
    {% assign blogchainpages = site.posts | where_exp: "item" , "item.blogchain contains blogchainfilter" | reverse %}

    <div class="bg-near-white pa2 ma2 f5">Part of the <a href="/blogchains/{{page.blogchain}}">{{page.blogchain}}</a> blogchain <span class="fr-ns blogchainexpand">+ expand</span>
      <div class="dn blogchainlist">
          <ul>
            {% for page in blogchainpages %}
            <li><a href="{{page.url}}">{{page.title}}</a></li>
            {% endfor %}
          </ul>
        </div>
    </div>
    

<script>
            
            $(".blogchainexpand").click(function(){
              $(".blogchainlist").toggle();
            });
</script>

{% endif %}