{% if page.blogchain %}
    {% assign blogchainfilter = page.blogchain %}
    {% assign blogchainpages = site.posts | where_exp: "item" , "item.blogchain contains blogchainfilter" | reverse %}

    <div class="bg-washed-green pa2 mv2 f5">Part of the <a href="/blogchains/{{page.blogchain}}">{{page.blogchain}}</a> blogchain <span class="fr-ns blogchainexpand"></span>
      <div class="">
          <ol>
            {% for page in blogchainpages %}
            <li><a href="{{page.url}}">{{page.title}}</a></li>
            {% endfor %}
          </ol>
        </div>
    </div>
    
{% endif %}