</div> <!-- closing container div -->

<footer>

<brand>!&</brand>

<div class="container">

    <div class="threebox">
        <p><strong>Coffee!</strong></p>
        <p>I'm based in Brooklyn, NY and I love meeting interesting people for coffee!</p>
    </div>

    <div class="threebox">
        <p><strong>Twitter!</strong></p>
        <p><a href="http://twitter.com/tomcritchlow">@tomcritchlow</a></p>
    </div>

    <div class="threebox">
        <p><strong>Get in touch!</strong></p>
        <p>917 414 9121</p>
        <p><a href="mailto:tjcritchlow@gmail.com">tjcritchlow@gmail.com</a></p>
    </div>

</div>

</footer>

