<footer class="cf w-100 tcgrey lh-copy">

<div class="w-90-l center tc">

    <div class="fl w-third-ns w-100 pa5">
        <p class="center"><strong>/now</strong></p>
        <p>Inspired by Derek Sivers, I have a <a href="/now">/now</a> page where I list what I'm currently up to.</p>
    </div>

    <div class="fl w-third-ns w-100 pa5">
        <p class="center"><strong>Twitter!</strong></p>
        <p>I'm most active on twitter, my DMs are open - tweet at me if you want to connect: <a href="http://twitter.com/tomcritchlow"  rel="me">@tomcritchlow</a></p>
    </div>

    <div class="fl w-third-ns w-100 pa5">
        <p class="center"><strong>Get in touch!</strong></p>
        <p><a href="mailto:tjcritchlow@gmail.com"  rel="me">tjcritchlow@gmail.com</a></p>
    </div>

</div>

</footer>


</body>

