<nav class="db dt-l w-100 mw9 border-box pa3 ph5-l center">
  <a class="link dim dark-gray f6 f5-l dib ttu" href="/" title="Home">TOM CRITCHLOW</a>

  <div class="fr dib dn-l pt1">    
    <div id="hamburger" class="hamburger hamburger--squeeze">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>

</div>

  <div class="dn dtc-l v-mid w-75-l tc tr-l" id="mobilenav">
    
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l ttu" href="/writing" title="Blog">Blogging</a>
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l ttu" href="/wiki" title="How it Works">Wiki</a>
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l ttu" href="/notes" title="How it Works">Notes</a>
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l ttu" href="/strategy" title="Press">Book</a>
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l ttu" href="/consulting" title="How it Works">Consulting</a>
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l ttu" href="/about" title="How it Works">About</a>
    <div class="fr f5 mr3 fw3">
      <img id="searchicon" src="/images/search.svg">
    </div>
  </div>


</nav>

<div id="searchmenu" class="dn bg-white bl b--gray w-third-l w-100 h-100 fixed-l right-0 top-0-l">
  <div class="h-100 w-100">
      <div id="fastSearch" class="mt5-l">
          <input id="searchInput" tabindex="0">
          <ul id="searchResults">
          </ul>
        </div>
                      
  </div>
</div>

<!--
<script>
  var $hamburger = $(".hamburger");
  var classadded = false;
  $hamburger.on("click", function(e) {

    $hamburger.toggleClass("is-active");
    $("#mobilenav").toggleClass("dn");


  });
</script>  
-->




        <script>
            var $hamburger = $(".hamburger");
            $hamburger.on("click", function(e) {

              $hamburger.toggleClass("is-active");
              $("#mobilenav").toggleClass("dn");
   
            }); 
          
          </script>


  <script src="/js/fuse.min.js"></script>
  <script src="/js/fastsearch.js"></script>          