<header class="pv4 center mw9 pr6-l pl6-l f3 fw6 ph3 ph0-ns">
    <a class="no-underline" href="/"><brand class="relative">Tom Critchlow</brand></a>

    <div class="fr f4 fw3 mobilemenu">
        <a href="#">Menu &darr;</a>
    </div>
    <div class="fr-l navigation w-100-s pt3 pt0-l">
    <a class="ma3-l mr2 no-underline" href="/writing">writing</a>
    <a class="ma3-l mr2 no-underline" href="/consulting">consulting</a>
    <a class="ma3-l mr2 no-underline" href="/about">about</a>
    </div>

    </header>

<script>
$('.mobilemenu').click(function(){
    $('.navigation').toggle();
  });
</script>