<nav class="db dt-l w-100 mw9 border-box pa3 ph5-l center">
  <a class="dib dtc-l v-mid mid-gray link dim w-25-l tc tl-l mb2 mb0-l" href="/" title="Home">
    TOM CRITCHLOW
  </a>

  <div class="fr f5 pv2 ph3 fw3 dn-l">
      
    <img id="searchicon" src="/images/search.svg">

</div>

  <div class="fr dib dn-l pt1">    
    <div id="hamburger" class="hamburger hamburger--squeeze">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>

</div>

  <div class="dn dtc-l v-mid w-75-l tc tr-l" id="mobilenav">
    
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l ttu" href="https://seomba.substack.com" title="Blog">Blogging</a>
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l ttu" href="/about" title="How it Works">About</a>
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l ttu" href="/about" title="How it Works">Notes</a>
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l ttu" href="/consulting" title="Press">Book</a>
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l ttu" href="/about" title="How it Works">Consulting</a>
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l ttu" href="/about" title="How it Works">About</a>
    <div class="fr f5 mr3 fw3">
      <img id="searchicon" src="/images/search.svg">
    </div>
  </div>


</nav>

<script>
  var $hamburger = $(".hamburger");
  var classadded = false;
  $hamburger.on("click", function(e) {

    $hamburger.toggleClass("is-active");
    $("#mobilenav").toggleClass("dn");


  });


</script>  




<header class="pv3 pv3-l center pr4-l pl4-l f3 ph3 ph0-ns lh-copy">
  <a class="no-underline" href="/"><brand class="relative h-card">Tom Critchlow</brand></a>


  <div class="fr f5 pv2 fw3">
      
              <div id="hamburger" class="hamburger hamburger--squeeze">
                      <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                      </div>
                    </div>
      
  </div>

  <div class="fr f5 pv2 ph3 fw3">
      
      <img id="searchicon" src="/images/search.svg">

</div>

</header>

<div class="dn tommenu w-third-l w-100 h-100 fixed-l right-0 top-0-l">
    <div class="h-100 w-100">
              <div class="pa2 mv6-l">
                <ul class="f4 ttu list">
                  <li class="pa2">
                    <a class="no-underline" href="/writing">writing</a>
                    <ul>
                      <li class="pa2"><a class="no-underline" href="/blogchains">blogchains</a></li>
                      <li class="pa2"><a class="no-underline" href="/strategy">strategy</a></li>
                      <li class="pa2"><a class="no-underline" href="https://tomcritchlow.com/feed">RSS feed</a></li>
                    </ul>
                  </li>
                  <li class="pa2"><a class=" no-underline" href="/wiki">wiki</a></li>
                  <li class="pa2">
                    <a class=" no-underline" href="/about">about</a>
                    <ul><li class="pa2"><a class=" no-underline" href="/now">now</a></li></ul>
                  </li>
                  <li class="pa2"><a class=" no-underline" href="/consulting">consulting</a></li>
                  <li class="pa2"><a class=" no-underline" href="https://tinyletter.com/tomcritchlow">newsletter</a></li>
                </ul>
              </div>
              
                          
    </div>
</div>

<div id="searchmenu" class="dn bg-white bl b--gray w-third-l w-100 h-100 fixed-l right-0 top-0-l">
    <div class="h-100 w-100">
        <div id="fastSearch" class="mt5-l">
            <input id="searchInput" tabindex="0">
            <ul id="searchResults">
            </ul>
          </div>
                        
    </div>
</div>

        <script>
            var $hamburger = $(".hamburger");
            $hamburger.on("click", function(e) {

              $hamburger.toggleClass("is-active");
              //hamburger is for search & menu now...
              if($('.tommenu').is(':visible')){
                $('.tommenu').hide();
                $("body").removeClass('noscroll');
              }
              else if($("#searchmenu").is(":visible")){
                $("#searchmenu").hide();
                searchVisible = false;
              }
              else{
                $('.tommenu').show();
                $("body").addClass('noscroll');
              }
            });
           

            if($('.tommenu').is(':visible')){
                $('body').addClass("fixedPosition");
            }
            else{
                $('body').removeClass("fixedPosition");
            }  
          
          </script>


  <script src="/js/fuse.min.js"></script> <!-- download and copy over fuse.js file from fusejs.io -->
  <script src="/js/fastsearch.js"></script>          