<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.metatitle %}{{page.metatitle}}{% elsif page.title%}{{page.title}}{% else %}Tom Critchlow. Move. Think. Create.{% endif %}</title>
    <meta name="description" content="Tom Critchlow. Move. Think. Create.">

    {% if page.redirect %}<meta http-equiv="refresh" content="0; url={{ page.redirect }}">{% endif %}

<link href='https://fonts.googleapis.com/css?family=Libre+Franklin:400,400italic,700,300,800|IBM+Plex+Mono|Inconsolata:400,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="/css/tachyons.min.css">
<link rel="stylesheet" href="/css/hamburgers.css">


<link href="/css/all.css" rel="stylesheet">
<link href="/css/mobile.css" rel="stylesheet">

<link rel="icon" href="/images/favicon.png" />

<meta name="viewport" content="width=device-width">

<script src="//code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>

<!--Custom Jquery UI only used for slidetoggle left/right-->
<script src="/js/jquery-ui.min.js" type="text/javascript"></script>


<link rel="alternate" type="application/rss+xml" title="RSS Feed for tomcritchlow.com" href="/feed.xml" />


 <meta property="og:type"   content="article" />
 <meta property="og:url"    content="https://tomcritchlow.com{{page.url}}" />
 <meta property="og:title"  content="{% if page.title %}{{page.title | escape}}{% else %}Tom Critchlow - Move. Think. Create.{% endif %}" />
 {% if page.og %}
 <meta property="og:image"  content="{{page.og}}" />
 {% else %}
 <meta property="og:image"  content="https://tomcritchlow.com/images/green.png" />
 {% endif %}
 <meta property="og:image:width"  content="600" />
 <meta property="og:image:height"  content="315" />

{% if page.layout == 'blog' %}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@tomcritchlow">
<meta name="twitter:creator" content="@tomcritchlow">
<meta name="twitter:title" content="{% if page.title | escape %}{{page.title}}{% else %}Tom Critchlow - Move. Think. Create.{% endif %}">
<meta name="twitter:description" content="{% if page.subtitle %}{{page.subtitle}}{% else %}{{page.content | truncatewords:20 | strip_html}}{% endif %}">
{% if page.og %}
<meta property="twitter:image"  content="{{page.og}}" />
{% else %}
<meta name="twitter:image" content="https://tomcritchlow.com/images/green.png">
{% endif %}

{% endif %}

{% if page.layout == 'tsi-chapter' %}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@tomcritchlow">
<meta name="twitter:creator" content="@tomcritchlow">
<meta name="twitter:title" content="{% if page.title %}{{page.title}}{% else %}Tom Critchlow - Move. Think. Create.{% endif %}">
<meta name="twitter:description" content="{% if page.subtitle %}{{page.subtitle}}{% else %}{{page.content | truncatewords:20 | strip_html}}{% endif %}">
{% if page.og %}
<meta property="twitter:image"  content="{{page.og}}" />
{% else %}
<meta name="twitter:image" content="https://tomcritchlow.com/images/green.png">
{% endif %}

{% endif %}
 
<meta name="pocket-site-verification" content="d481265d27c9597cbdc003abbf1994" />

<link rel="webmention" href="https://webmention.io/tomcritchlow.com/webmention" />
<link rel="pingback" href="https://webmention.io/tomcritchlow.com/xmlrpc" />



</head>

<body class="w-100 ph0-l center">