<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}}{% else %}Tom Critchlow. Move. Think. Create.{% endif %}</title>
    <meta name="description" content="Tom Critchlow. Move. Think. Create.">

<link href='http://fonts.googleapis.com/css?family=Neuton:300,400,700,400italic' rel='stylesheet' type='text/css'>

<link href="/css/all.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
<link href="/css/mobile.css" rel="stylesheet">


<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<meta name="viewport" content="width=device-width, user-scalable=no">



</head>
