<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}}{% else %}Tom Critchlow. Move. Think. Create.{% endif %}</title>
    <meta name="description" content="Tom Critchlow. Move. Think. Create.">

<link href='http://fonts.googleapis.com/css?family=Neuton:200,300,400,700,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700,200,100' rel='stylesheet' type='text/css'>

<link href='/newfonts/stylesheet.css' rel='stylesheet' type='text/css'>

<link href="/css/all.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
<link href="/css/mobile.css" rel="stylesheet">
<link href="/css/hamburgers.min.css" rel="stylesheet">

<link rel="icon" href="/images/favicon.jpg" />

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>


<meta name="viewport" content="width=device-width">

<script src="//code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>

 <meta property="og:type"   content="article" />
 <meta property="og:url"    content="http://tomcritchlow.com{{page.url}}" />
 <meta property="og:title"  content="{{page.title}}" />
 {% if page.coverimage %}
 <meta property="og:image"  content="{{page.coverimage}}" />
 {% else %}
 <meta property="og:image"  content="http://tomcritchlow.com/images/green.png" />
 {% endif %}

</head>

<body>