</div>

<script src="/js/fuse.min.js"></script>
<script src="/js/library-search.js"></script>

<style>
  @media (min-width:961px){
.navlinks{
  width:223px;
}

.mainlinks{
  padding-left:223px
}
}

</style>


<div class="w-100 center">

<div class="flex-l relative">

  <div class="fixed-l h-100 bg-near-white navlinks br b--black-10 f7 fw6">
    <a class="db-l dib items-center ma2 ph3  pa2 mv3 link fw8 f6 br3 newgreen" href="/library">
      LIBRARY
    </a>
    
    <a class="db-l dib flex-l items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" id="" href="/library/?query=tag%3Amusic">
      <i data-feather="music" class="h1 pr3"></i> <span class="navname dn db-l">Music</span>
    </a>
    <a class="db-l dib flex-l items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" id="" href="/library/?query=tag%3Abooks">
      <i data-feather="book" class="h1 pr3"></i> <span class="navname dn db-l">Books</span>
    </a>
    <a class="db-l dib flex-l items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" id="" href="/all-links">
      <i data-feather="link-2" class="h1 pr3"></i> <span class="navname dn db-l">All Links</span>
    </a>
  
    
    <hr class="mh2 mv4 b--black-10 dn db-l">
  
    <div class="dn db-l items-center mh3 pa2 black br3 ttu">
      Tags
    </div>
  
  <div class="pa3 overflow-x-scroll overflow-auto-l nowrap ws-normal-l">
    <span class="dib dn-l">Tags: </span>
  {% for tag in tags | limit: 15 %}
  {% if tag != null and tag != "" %}
  <a href="/library/?query=tag%3A{{tag}}" class="f6 dib pa2 mr2 bg-light-gray newgreen b br2 link">{{tag}}</a>
  {% endif %}
  {% endfor %}
  </div>
  </div>