


{% assign topic = page.name | remove: ".md" %}
{% assign topicposts = site.posts | where_exp: "item" , "item.topics contains topic" | sort:"path" %}

{% if page.key-links %}
<div class="ttu f5 newgreen b pt4 pb2">KEY LINKS</div>

<div class="flex flex-wrap f5">
{% for link in page.key-links %}

<article class="center mw5 mw6-ns hidden ba mv4 w-50 mr2-l">
  <h1 class="f4 bg-newgreen white mv0 pv2 ph3"><a class="link white" href="{{link.url}}">{{link.title}}</a>
    <div class="white-50 f7 i"><img class="h1 dib pr2" src="/images/external-link-white.svg" /> {{link.url}}</div></h1>
  <div class="pa3 bt">
    <p class="f6 f5-ns lh-copy measure mv0">
      {{link.description}}
    </p>
  </div>
</article>

{% endfor %}
</div>
{% endif %}

<div class="ttu f5 newgreen b pt4 pb2">WRITING</div>

{% for post in topicposts reversed %}
<div>
<a href="{{post.url}}" class="flex flex-wrap w-100 bb b--black-10 pv3 justify-between dim db black link">
<div class="w-100 w-50-l"><div class="link black f5 b">{{post.title}}</div><div class="f5">{{post.subtitle}}</div></div>
<div class="black-50 f6 ibmplexmono ttu">{{ post.date | date: "%B %-d, %Y" }}</div>
</a>
</div>
{% endfor %}

<div class="ttu f5 newgreen b pv4">RESEARCH</div>
<div id="arenaoutput" class="w-100"></div>

<script>

var channels = {{ page.arena-channels | jsonify }};

for(var i = 0; i < channels.length ; i++){
    arenaChannel(channels[i]);
}

function arenaChannel(channel){
  var decodechannel = decodeURIComponent(channel);
  fetch('https://api.are.na/v2/channels/'+decodechannel+"?per=100")
    .then((response) => {return response.json()})
    .then((data) => {
    console.log(data);
  var outlinediv = document.createElement("div"); 
  outlinediv.classList.add("pv2");
  outlinediv.classList.add("overflow-x-scroll");
  outlinediv.classList.add("flex");
  outlinediv.classList.add("center");
  
  var metadiv = document.createElement("div");
  metadiv.innerHTML = `
  <div class="black-50 f6"><a href="https://www.are.na/tom-critchlow/${data.slug}" class="link black-50">✶✶ Are.na / Tom Critchlow / ${data.title}</a></div>`;
  document.getElementById("arenaoutput").appendChild(metadiv);  
  
  var output2 = document.getElementById("arenaoutput");  
  output2.appendChild(metadiv);
  for(var i = 0; i < data.contents.length; i++){
    console.log("trying forllop");
    var div = document.createElement("div");
    var div2 = document.createElement("div");
    
    var sourceurl = "";
    var domain = "";
    var title = "";
    var thumbnail = "";
    
    try{
      sourceurl = data.contents[i].source.url;
      domain = (new URL(sourceurl));
      domain = domain.hostname;
    }catch{}
    
    try{
      title = data.contents[i].title;
    }catch{}
    
    try{
      thumbnail = data.contents[i].image.thumb.url;
    }catch{}    

    div2.innerHTML = `<a class="db w4 center black link dim pr4" href="${sourceurl || "https://www.are.na/block/"+data.contents[i].id}">
<img class="db ba b--black-10"/ src="${thumbnail || "https://via.placeholder.com/150"}">
<div class="f6 pv2 overflow-x-hidden">${truncateString(title,50) || "empty"}</div>
<div class="f7 black-50 i pv2 overflow-x-hidden">${domain || ""}</div>
</a>`;      
    
    outlinediv.appendChild(div2);
    
};
output2.appendChild(outlinediv);
  }).catch(err => {
  // Catch fetch error here
});
};

function truncateString(str, num) {
  if (str.length > num) {
    return str.slice(0, num) + "...";
  } else {
    return str;
  }
};
</script>