


{% assign topic = page.name | remove: ".md" %}
{% assign topicposts = site.posts | where_exp: "item" , "item.topics contains topic" | sort:"path" %}

<div class="ttu f5 pv2 newgreen">WRITING</div>
{% for post in topicposts %}
<div class="flex w-100 bb b--black-10 pv3 justify-between items-center">
  <div>
    <a href="{{post.url}}" class="link black f5 b">{{post.title}}</a>
    <br>{{post.subtitle}}
  </div>
  <div class="black-50 f6 ibmplexmono ttu">
    {{ post.date | date: "%B %-d, %Y" }}
  </div>
</div>

{% endfor %}


{% for channel in page.arena-channels %}
Arena channel: {{channel}}
{% endfor %}

<div id="arenaoutput" class="w-100"></div>

<script>

var channels = {{ page.arena-channels | jsonify }};

for(var i = 0; i < channels.length ; i++){
    arenaChannel(channels[i]);
}

function arenaChannel(channel){
  var decodechannel = decodeURIComponent(channel);
  fetch('https://api.are.na/v2/channels/'+decodechannel+"?per=100")
    .then((response) => {return response.json()})
    .then((data) => {
    console.log(data);
  var outlinediv = document.createElement("div"); 
  outlinediv.classList.add("pv2");
  outlinediv.classList.add("overflow-x-scroll");
  outlinediv.classList.add("flex");
  outlinediv.classList.add("center");
  
  var metadiv = document.createElement("div");
  metadiv.innerHTML = `
  <h1>${data.title}</h1>
  <div class="black-50 f6">Created by ${data.owner.username}, with ${data.length} blocks</div>
  `;
  document.getElementById("arenaoutput").appendChild(metadiv);  
  
  var output2 = document.getElementById("arenaoutput");  
  output2.appendChild(metadiv);
  for(var i = 0; i < data.contents.length; i++){
    console.log("trying forllop");
    var div = document.createElement("div");
    var div2 = document.createElement("div");
    
    var sourceurl = "";
    var domain = "";
    var title = "";
    var thumbnail = "";
    
    try{
      sourceurl = data.contents[i].source.url;
      domain = (new URL(sourceurl));
      domain = domain.hostname;
    }catch{}
    
    try{
      title = data.contents[i].title;
    }catch{}
    
    try{
      thumbnail = data.contents[i].image.thumb.url;
    }catch{}    

    div2.innerHTML = `<a class="db w4 center black link dim pr4" href="${sourceurl || "#"}">
<img class="db ba b--black-10"/ src="${thumbnail || "https://via.placeholder.com/150"}">
<div class="f6 pv2 overflow-x-hidden">${truncateString(title,50) || "empty"}</div>
<div class="f7 black-50 i pv2 overflow-x-hidden">${domain || ""}</div>
</a>`;      
    
    outlinediv.appendChild(div2);
    
};
output2.appendChild(outlinediv);
  }).catch(err => {
  // Catch fetch error here
});
};

function truncateString(str, num) {
  if (str.length > num) {
    return str.slice(0, num) + "...";
  } else {
    return str;
  }
};
</script>