</div>

<style>
  @media (min-width:961px){
.navlinks{
  width:223px;
}

.mainlinks{
  padding-left:223px
}
}

</style>


<div class="w-100 center">

<div class="flex-l relative">

<div class="fixed-l h-100 bg-near-white navlinks br b--black-10 f7 fw6">
<a class="db-l dib items-center ph3  pa2 mv3-l link fw8 f6 br3 newgreen" href="/writing">
WRITING
</a>

<a class="db-l dn dib flex-l items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" id="" href="/writing">
  <i data-feather="calendar" class="h1 pr3"></i> <span class="navname dn db-l">Latest</span>
</a>
<a class="db-l dib flex-l items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" id="" href="/start-here">
<i data-feather="play-circle" class="h1 pr3"></i> <span class="navname dn db-l">Start Here</span>
</a>
<a class="db-l dib flex-l items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" id="" href="/topics">
<i data-feather="folder" class="h1 pr3"></i> <span class="navname dn db-l">Topics</span>
</a>
<a class="db-l dib flex-l items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" id="" href="/map">
<i data-feather="compass" class="h1 pr3"></i> <span class="navname dn db-l">Map</span>
</a>

<div class="dn db-l items-center mh3 black br3 ttu">
  <div class="newgreen mv3 navname" style="pointer-events: auto;">Subscribe</div>
<a class="db-l dib flex-l items-center pa2 bg-animate hover-bg-white link black br3 ttu" id="" href="https://newsletter.tomcritchlow.com/">
  <i data-feather="mail" class="h1 pr3"></i> <span class="navname dn db-l">Newsletter</span>
  </a>
<a class="db-l dib flex-l items-center pa2 bg-animate hover-bg-white link black br3 ttu" id="" href="https://tomcritchlow.com/feed">
  <i data-feather="rss" class="h1 pr3"></i> <span class="navname dn db-l">RSS</span>
  </a>

</div>
</div>