---
---

<h2>Welcome to wikifolder</h2>
<p>This is my personal digital garden. A wild garden, loosely tended. There's drafts, ideas, partials, fragments and ideas.</p>

{% assign folders = site.pages | where_exp:"item", "item.path contains 'wiki'" %}
{% assign wikifolders = "" | split:"" %}

{% for folder in folders %}
  {% assign tempvar = folder.path | split:"/" %}
  {% assign wikifolders = wikifolders | push:tempvar[1] %}
{% endfor %}

{% assign wikifolders = wikifolders | uniq | sort %}

<div class="w-100 cf">
{% for folder in wikifolders %}
  {% unless folder contains 'md' or folder contains 'html' %}
    <div class="fl w-third-l w-100 mb1 mt1 pr4-l">
      <a class="link black" href="/wiki/{{folder}}/"><div class="bg-near-white pa3">{{folder | capitalize}}</div></a>
    </div>
  {% endunless %}
{% endfor %}
</div>

<h3>All notes</h3>

{% assign folder1 = site.pages | where_exp: "item" , "item.path contains 'wiki'" | sort:"path" %}
{% for item in folder1 %}
<a href="{{ item.url }}">{{item.path}}</a>
<br>
{% endfor %}

