body {
  font-family: "Alegreya", serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-rendering:optimizeLegibility;
  background-color: #111;
}

#container {
  width: 900px;
  margin: 0 auto;
  padding: 4em 10px 8em;
  box-sizing: border-box;
}


/* HEADER */

#header {
  max-width: 480px;
  position: relative;
  margin: 0 auto 30px;
  text-align: center;
  /*border: 2px #ffe400 solid;*/
  border: 1px #fff solid;
  padding: 5px;
  /*background-color: #F7F1F0;*/
  border-radius: 25px;
}

#inner-header-box {
  /*border: 1px #000000 solid;*/
  padding: 25px;
  border-radius: 3px;
}

#header h1 {
  font-size: 36px;
  font-family: 'Alegreya',serif;
  letter-spacing: 0.05em;
  color: #ffe400;
  line-height: 42px;
  font-weight: bold;
  padding-bottom: 12px;
}

#header p {
  font-size: 20px;
}


/* TABLE OF CONTENTS */

#toc {
  font-size: 20px;
  line-height: 1.5em;
  padding: 20px 0;
  text-align: center;
}

.toc-item {
  /*float: left;*/
  display: inline-block;
  padding: 12px 24px;
  margin: 8px 12px;
  font-size: 24px;
  border: 1px #fff solid;
  border-radius: 25px;
}

.toc-item:last-child {
  clear: all;
}


/* CATEGORY */

.category {
  position: relative;
  margin: 0px auto;
  text-align: center;
  padding: 50px 0 0 0;
  overflow: visible;
  clear: both;
}

.category h2 {
  font-family: 'Alegreya', serif;
  color: #ffe400;
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
  clear: both;
  font-weight: bold;
  padding-bottom: 8px;
}

.category-description {
  font-size: 20px;
  padding-bottom: 18px;
}


/* ITEM */

.item {
  display: block;
  float: left;
  text-align: left;
  box-sizing: border-box;
  /*width: 32%;*/
  /*padding: 12px 20px;*/
  margin: 0 1% 15px 0;
  overflow: hidden;
  position: relative;
  /*background-color: #F7F1F0;*/
  /*border: 1px solid #ffe400;*/
  border: 1px solid #fff;
  border-radius: 25px;
  transition: all .5s;
}

.item:hover {
  background-color: #333;
  -webkit-transition: all -webkit-transform .5s;
  transition: all .5s;
  transform: scale(0.95);
}

.item img {
  width: 60px;
  height: 60px;
}

.item-title {
  font-family: 'Alegreya', serif;
  color: #000;
  font-size: 18px;
  text-align: center;
  margin: 0 0;
  /*text-transform: uppercase;
  font-weight: 900;*/
  clear: both;
  font-weight: bold;
  padding: 15px;
  opacity: 1;
  /*text-shadow: #333 1px 1px 1px;*/
}

.item p {
  color: #fff;
  padding: 15px 20px;
}

.see-also {
  border-top: 1px #fff solid;
  margin: 5px 10px;
}

.see-also-link {
  text-decoration: underline;
}

.icon {
  text-align: center;
  display: none;
}

.book-highlight {
  /*background-color: #74F3AA;*/
  background-color: #3aec00;
}

.article-highlight {
  /*background-color: #A2DEF9;*/
  background-color: #097ef7;
}

.site-highlight {
  /*background-color: #F8BCFD;*/
  background-color: #e61361;
}

.media-highlight {
  /*background-color: #FFBAB0;*/
  background-color: #ff8100;
}

.idea-highlight {
  /*background-color: #F7ED8F;*/
  background-color: #ffd400;
}

p {
  font-size: 16px;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #ffe400;
  -webkit-transition: all -webkit-transform .5s;
  transition: all .5s;
}

a:hover {
  color: #777777;
  /*opacity: .8;*/
  -webkit-transition: all -webkit-transform .5s;
  transition: all .5s;
}

/*#toc a:hover {
  color: #777777;
}*/

a:hover .item-title {
  opacity: .8;
  -webkit-transition: all -webkit-transform .5s;
  transition: all .5s;
}

strong {
  font-weight: 700;
  color: #222222;
}

/*#about {
  width: 450px;
  padding: 40px 20px 0;
  margin-left: 300px;
  position: relative;
}*/

@media screen and (max-width:900px) {
  #container {
    width: 600px;
  }
  #about {
    margin-left: 170px;
    width: 390px;
  }
}

@media screen and (max-width:640px) {
  #container {
    width: auto;
    max-width: 480px;
    padding: 2em 10px 4em;
  }
  #about {
    width: auto;
    margin-left: 0;
  }
  .item {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width:640px) and (max-width:900px) {
  .item:nth-child(2n+1) {
    clear: both;
  }
  .item {
    width: 49%;
  }
}

@media screen and (min-width:900px){
  .item:nth-child(3n+3) {
    clear: both;
  }
  .item {
    width: 32%;
  }
}
