---
layout: blog-sidebar-nav
title: Topics
---

{% assign topics = site.pages | where_exp: "item" , "item.path contains 'topics'" | where_exp: "item" , "item.path contains '.md'" %}

<div class="sans-serif f6 fw6 ttu tracked">
    <div class="pa3 dib bg-white hide-child relative-m relative-l w-100 w-auto-ns br2 ph5">
        Choose Topic
        <div class="child absolute w-100 bg-near-white left-0 mt3 pa2 br2">
            {% for topic in topics %}
            <div class="bg-white mt1 pa2 mv2 f7 w-100 shadow-4 br2">
                <a class="link newgreen" href="{{topic.url}}">{{topic.title}}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<em>Warning: This section is highly experimental!</em>

{% assign all_topics = site.posts | map: "topics" | compact | uniq %}

{% for item in all_topics %}
{{ item }}
{% endfor %}



{% for page in topics %}
{% assign topic = page.name | remove: ".md" %}
{% assign topicposts = site.posts | where_exp: "item" , "item.topics contains topic" | sort:"path" %}
<a href="{{page.url}}" class="bg-near-white br2 pa4 ba b--newgreen db mv4 link black dim">
    <div class="pb2 f3 fw6">{{page.title}}</div>
    <div class="flex flex-wrap pt4">
        <div class="w-50-l w-100"><div class="ttu newgreen f5 b">Objective</div><div class="i">{{page.objective}}</div></div>
        <div class="w-50-l w-100"><div class="ttu newgreen f5 b">Key Question</div><div class="i">{{page.key-question}}</div></div>
    </div>
    <div class="bt b--black-10 f6 ttu mt4 flex items-center">
       <div class="w-50 pt2">
        <img src="/images/edit-2.svg"/ class="h1 dib v-mid pr2"> {{topicposts | size}} blog posts
       </div> 
       <div class="w-50 pt2">
        <span class="pr2">✶✶</span> {{page.arena-channels | size}} are.na channels
       </div>
        
    </div>
        
</a>
{% endfor %}
