{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}

<div class="mw8 center lh-copy f4 postcontainer ph3 ph0-l" role="article">
  
<p>blog / blogchains / annotations</p>

    <div class="pt4 pt5-l w-two-thirds-ns">
    
        <h1 class="f2 f1-l fw8 lh-solid mv1 posttitle">{{page.title}}</h1>
  
      {% if page.subtitle %}
      <h2 class="f3 fw3 lh-copy mv1 subtitle">{{page.subtitle}}</h2>
        {% endif %}
  
    </div>
  
<em><a href="/blogchains/">Click here for a full list of blogchains</a></em>

  {{content}}
  
  {% assign blogchain = page.path | replace: "blogchains/", "" | remove: ".md" %}

{% for post in site.posts  %}
{% if post.blogchain contains blogchain %}


<p><a href="{{ post.url }}">{{ post.title }}</a></p>
<p class="f6 f6-s black-50 pv1">Written on {{ post.date | date: "%-d %B %Y" }}.</p>

{{ post.content | truncatewords:60 | strip_html }}

<hr>

{% endif %}
{% endfor %}

</div>
</div>


{% include footer.html %}