{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}


<div class="mw8 center lh-copy f4 postcontainer ph3 ph0-l h-entry" role="article">
  
    {% include blogchain-nav-top.html %}

{% if page.reply %}    

<div class="pv2">
    <img class="dib h2 v-mid" src="https://img.icons8.com/cute-clipart/64/000000/response.png"/> <span class="f5 black-30">In reply to: </span><span class="ttu black-30 f5"><a class="u-in-reply-to" href="{{page.reply}}">{{page.reply}}</a></span>
      </div>

{% endif %}

  <div class="pt4 pt5-l pb2 w-two-thirds-ns">
  
<div class="bb b--newgreen w-100 ibmplexmono ttu f6 dt-published mb5" datetime="{{ page.date}}">
  {% if page.date %}
  {{ page.date | date: "%B %-d, %Y" }}
    {% endif %}
</div>

      <h1 class="f2 fw8 lh-solid mv1 posttitle p-name">{{page.title}}</h1>

    {% if page.subtitle %}
    <h2 class="f3 fw3 lh-copy mt1 subtitle p-summary i">{{page.subtitle}}</h2>
      {% endif %}
  </div>
  
  
  <div class="w-two-thirds-ns e-content">
  


  {{content}}

  <hr class="w3 mv5">

  {% include blogchain-nav-bottom.html %}

  {% if page.blogchain %}

  {% else %}

  <div class="Previous-next f6 cf pb4">
    {% if page.previous.url %}
    <div class="fl w-40">
    <span class="ttu tracked">⇜ PREVIOUS</span><br>
      <a class="previous" href="{{page.previous.url}}">{{page.previous.title}}</a>
    </div>
    {% endif %}
    {% if page.next.url %}
    <div class="fr w-40 tr">
    <span class="ttu tracked">NEXT ⇝</span><br>
      <a class="next" href="{{page.next.url}}">{{page.next.title}}</a>
    </div>
    {% endif %}
  </div>

  {% endif %}

<div class="f5 i">
  This blog is written by Tom Critchlow, an independent strategy consultant living and working in Brooklyn, NY. If you like what you read please leave a comment below in disqus or sign up for my <a href="https://tinyletter.com/tomcritchlow">Tinyletter</a>.
</div>

<div class="pv4">
  <input readonly
    value="http://tomcritchlow.com{{page.url}}"
    title ="{{page.title}}"
    id="pageurl"
    class="mw-100 w-100 w5-ns f6 input-reset ba b--black-20 pv2 ph2 border-box silver"
  />
  <button
    id="copyurl"
    class="input-reset w-40 w-auto-ns bg-black-80 white f5 pv2 pv2-ns ph4 ba b--black-80 bg-hover-mid-gray"
  >
    Copy
  </button>
  <button
    id="webshare"
    class="input-reset w-40 w-auto-ns bg-black-80 white f5 pv2 pv2-ns ph4  b--black-80 bg-hover-mid-gray"
  >Share</button>
</div>

<script>
  if (!navigator.share) {
    document.getElementById("webshare").style.display = "none";
  }

  var $copyurl = $("#copyurl");
  $copyurl.on("click", function(e) {
    var copyText = document.getElementById("pageurl");

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /* For mobile devices */

    /* Copy the text inside the text field */
    document.execCommand("copy");

    $copyurl.html("Copied!");
      setTimeout(function() {
        $copyurl.html("Copy");
      }, 2000);

  });

  var $webshare = $("#webshare");
  $webshare.on("click", function(e) {
    if (navigator.share) {
      navigator
        .share({
          title: "{{page.title}}",
          text: "{{page.title}}",
          url: "http://tomcritchlow.com{{page.url}}"
        })
        .then(() => console.log("Successful share"))
        .catch(error => console.log("Error sharing", error));
    } else {
      console.log("Web Share API is not supported in your browser.");
    }
  });
</script>

<hr class="w3 mv5">

<script>

    $( document ).ready(function() {
        var footnotes = $(".footnotes p");
        $("sup").each(function(index){
            var fn = footnotes[index].removeChild(footnotes[index].lastChild);
            $(this).replaceWith("<label for='"+index+"' class='margin-toggle sidenote-number'></label><input type='checkbox' id='"+index+"' class='margin-toggle'/><span class='sidenote'>"+footnotes[index].innerHTML+"</span>")  
        });   
        $(".footnotes").hide()
    });    
    
    
    </script>

<script type="application/json" class="js-hypothesis-config">
  {
    "openSidebar": false,
    "theme": "clean"
  }
</script>

<script src="https://hypothes.is/embed.js" async></script>

<script type="text/javascript">

window.hypothesisConfig = function () {
  return {
    branding: {
      appBackgroundColor: 'white',
      ctaBackgroundColor: 'rgba(3, 11, 16, 1)',
      ctaTextColor: '#eee',
      selectionFontFamily: 'helvetica, arial, sans serif'
    }
  };
};

</script>

<script defer src="https://cdn.commento.io/js/commento.js"></script>
<div id="commento"></div>



</div>
</div>



{% include footer.html %}