{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}

<div class="mw9 center lh-copy f4 postcontainer ph3 ph6-l">
  
  <h1>{{page.title}}</h1>

  <div class="w-100 flex flex-wrap items-start">
  
  <div class="ba br2 b--newgreen shadow-4 pa4 mr5-l ibmplexmono w-100 w-auto-ns f5">
    <div class="pb3 relative">{% if page.name == 'start-here.md' %}<div class="dotgreen absolute left--1 top-1"></div>{% endif %}<a class="link" href="/start-here">Start Here</a></div>
    
    <div class="pv1 relative">{% if page.name == 'writing.md' %}<div class="dotgreen absolute left--1 top-1"></div>{% endif %}<a class="link"  href="/writing">Latest Writing</a></div>
    <div class="pv1 relative">Topics</div>
    <div class="pv1 relative">{% if page.url contains 'blogchains' %}<div class="dotgreen absolute left--1 top-1"></div>{% endif %}<a class="link"  href="/blogchains/">Blogchains</a></div>
    <div class="pt1 pb3 relative">Replies</div>
    
    <div class="pv1 relative">Subscribe:</div>
    <div class="pv1 relative"><a class="link"  href="/feed">RSS</a></div>
    <div class="pv1 relative"><a class="link"  href="https://tinyletter.com/tomcritchlow">Email</a></div>
  </div>
  
<script>
  //if page matches anchor then add a greendot span?
</script>
    
    
    <div class="w-two-thirds-ns">
  
  {{content}}
                                    
  </div>
</div>
</div>


{% include footer.html %}