{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}

<div class="mw9 center lh-copy f4 postcontainer ph3 ph6-l">
  
  <h1>{{page.title}}</h1>

  <div class="w-100 flex flex-wrap-l items-start">
  
  <div class="ba br2 b--newgreen shadow-4 pa4 mr5-l ibmplexmono">
    <div class="pv1 pb3"><a href="/start-here">Start Here</a></div>
    
    <div class="pv1"><a href="/writing">Latest Writing</a></div>
    <div class="pv1">Topics</div>
    <div class="pv1">Blogchains</div>
    <div class="pv1 pb3">Replies</div>
    
    <div class="pv1">Subscribe:</div>
    <div class="pv1"><a href="/feed">RSS</a></div>
    <div class="pv1"><a href="https://tinyletter.com/tomcritchlow">Email</a></div>
  </div>
  
<script>
  //if page matches anchor then add a greendot span?
</script>
    
    
    <div class="w-two-thirds-ns">
  
  {{content}}
                                    
  </div>
</div>
</div>


{% include footer.html %}