{% include head.html %}

{% if page.coverimage %}
  <div class='coverimage'>
    <img src="{{page.coverimage}}" />
  </div>

{% else %}

<div class="topnav">
  <div class="navigation">
    <span><a href="/">HELLO</a></span>
    <span><a href="/about">ABOUT ME</a></span>
    <span><a href="/writing">WRITING</a></span>
    <span>
  </div>
</div>

{% endif %}

<div class="blogcontent">
  <h1>{{page.title}}</h1>

  {{content}}

</div>

<div class="footer">
  <a href="twitter.com/@tomcritchlow">@tomcritchlow</a>
</div>


{% include googleanalytics.html %}

<script>

$('p img').each(function(){
  $(this).parent().addClass("imgonly");
});

</script>
