{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}

<div class="mw9 center lh-copy f4 postcontainer ph3 ph6-l">
  
  <h1>{{page.title}}</h1>

  <div class="w-100 flex flex-wrap items-start">
  
  <div class="ba br2 b--newgreen shadow-4 pa4-l pa3 mr5-l ibmplexmono w-100 w-auto-ns f5 nowrap overflow-x-auto ba">
    <div class="pb3 relative dib db-ns"><a class="link {% if page.name == 'start-here.md' %}newgreen{% endif %}" href="/start-here">Start Here</a><span class="dib dn-l ph1"> | </span></div>
    
    <div class="pv1 relative dib db-ns"><a class="link {% if page.name == 'writing.md' %}newgreen{% endif %}"  href="/writing">Latest Writing</a><span class="dib dn-l ph1"> | </span></div>
    <div class="pv1 relative dib db-ns">Topics <span class="dib dn-l ph1"> | </span></div>
    <div class="pv1 relative dib db-ns"><a class="link {% if page.name == 'notes.md' %}newgreen{% endif %}" href="/notes">Notes</a> <span class="dib dn-l ph1"> | </span></div>
    <div class="pv1 relative dib db-ns"><a class="link {% if page.name contains 'blogchains' %}newgreen{% endif %}"  href="/blogchains/">Blogchains</a><span class="dib dn-l ph1"> | </span></div>
    <div class="pt1 pb3 relative dib db-ns">Replies <span class="dib dn-l ph1"> | </span></div>

    
    <div class="pv1 relative dib db-ns">Subscribe:</div>
    <div class="pv1 relative dib db-ns"><a class="link"  href="/feed">RSS</a><span class="dib dn-l ph1"> | </span></div>
    <div class="pv1 relative dib db-ns"><a class="link"  href="https://tinyletter.com/tomcritchlow">Email</a></div>
  </div>
    
    
    <div class="w-two-thirds-ns">
  
  {{content}}
                                    
  </div>
</div>
</div>


{% include footer.html %}