{% include head.html %}

{% include googleanalytics.html %}

{% if page.header %}

{% include header.html %}

{% endif %}

<style>
.postcontent p, .postcontent ul, .postcontent ol, .postcontent blockquote{
width:100%;
max-width:500px;
margin:auto;

}
</style>

<div class="w-100 center ph3 ph0-l">

<div class="pt4 pt5-l w-two-thirds-ns">

<h1 class="f2 f1-l fw8 lh-solid mv1 posttitle">{{page.title}}</h1>

{% if page.subtitle %}
<h2 class="f3 fw3 lh-copy mv1 subtitle">{{page.subtitle}}</h2>
{% endif %}

</div>

<div class="postcontent">
{{content}}
</div>

</div>