{% include head.html %}

{% include googleanalytics.html %}

{% if page.header %}

{% include header.html %}

{% endif %}

<style>

h1, h2, h3, h4{
width:100%;
max-width:600px;
margin:auto;    
}

.postcontent p, .postcontent ul, .postcontent ol, .postcontent blockquote{
width:100%;
max-width:600px;
margin:auto;
padding-top:10px;
padding-bottom:10px;
font-size:16px;
line-height:20px;
font-family:'open sans';

}
</style>

<div class="w-100 center ph3 ph0-l">

<div class="pt4 pt5-l">

<h1 class="f2 f1-l fw8 lh-solid mv1 posttitle">{{page.title}}</h1>

{% if page.subtitle %}
<h2 class="f3 fw3 lh-copy mv1 subtitle">{{page.subtitle}}</h2>
{% endif %}

</div>

<div class="postcontent">
{{content}}
</div>

</div>