---
---
{% assign tags = site.library | map: 'tags' | join: ',' | split: ',' | uniq %}

{% include head.html %}

{% include googleanalytics.html %}

{% include 2024-nav.html %}

</div>

<script src="/js/fuse.min.js"></script>
<script src="/js/library-search.js"></script>

<style>
  @media (min-width:961px){
.navlinks{
  width:223px;
}

.mainlinks{
  padding-left:223px
}
}

</style>


<div class="w-100 center ph0-l ph2">

<div class="flex-l relative">

<div class="mh5-l mb5 mainlinks w-100">




  <div id="main-content">
    
    
    <div class="pv5 bb b--newgreen">
    <div class="f4 b">{%if page.link %}<a class="black" href="{{page.link}}">{{page.title}}</a> <span class="pl2 fw4 f5 black-50">(<img class="mh1 v-mid" src="https://www.google.com/s2/favicons?domain={{page.link}}"> {{ page.link | split: "//" | last | split: "/" | first }})</span>{%else%}{{page.title}}{%endif%}</div>
    
    {%if page.content %}
    <div class="pv2">
      {{page.content}}
    </div>
    {% endif %}
    
    <div class="pv1">{% for tag in page.tags %}<a href="" class="f6 dib pa2 mr2 bg-light-gray newgreen b br2 link">{{tag}}</a>
    {% endfor %}</div>
    <div class="black-50 f6">{{page.date_saved | date: "%B %-d, %Y"}} <a class="f6 pl2 newgreen b" href="{{page.url}}">#</a></div>
    </div>

</div>  
</div>

<div class="fixed-l h-100 bg-near-white navlinks br b--black-10 f7 fw6">
  <a class="db-l dn  items-center ma2 ph3  pa2 mv3 link fw8 f6 br3 newgreen" href="/library">
    LIBRARY
  </a>

  <a class="db flex items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" id="" href="">
    <i data-feather="music" class="h1 pr3"></i> <span class="navname">Music</span>
  </a>
  <a class="db flex items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" id="" href="">
    <i data-feather="book" class="h1 pr3"></i> <span class="navname">Books</span>
  </a>
  <a class="db flex items-center mh3 pa2 bg-animate hover-bg-white link black br3 ttu" id="" href="">
    <i data-feather="link-2" class="h1 pr3"></i> <span class="navname">Links</span>
  </a>
  
  <hr class="mh2 mv4 b--black-10">

  <div class="db flex items-center mh3 pa2 black br3 ttu">
    Tags
  </div>

<div class="pa3">
{% for tag in tags %}
<a href="" class="f6 dib pa2 mr2 bg-light-gray newgreen b br2 link">{{tag}}</a>
{% endfor %}
</div>

</div>


</div>  




  
  




  








</div>



{% include 2024-footer.html %}