
<article>
  <div>
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
      <p style="font-weight:200; font-size:80%;">Last updated on {{ page.last_modified_at | date: "%B %-d, %Y" }}</p>
      {% endif %}
    </time>
  </div>

  <div id="notes-entry-container">
    <content>
      {% comment %} Liquid Code to Parse Wiki-like link Syntax {% endcomment %}

      {% comment %}
      Line1: Get content from the current page into the variable content_array by splitting it using '[​[' as a delimiter, If a page has "lorem ipsum varum [​[dorum]] borum [​[morum]] gerum" as its content, the resultant content_array will contain the following: ["lorem ipsum varum", "dorum]] borum", "morum]] gerum"]
      {% endcomment %}

      {% assign link_open_delimiter = '[[' %}
      {% assign link_close_delimiter = ']]' %}
      {% assign content_array = page.content | split:link_open_delimiter %}
      {% assign external_link_delimiter = '::' %}

      {% comment %}
      The use of this weird looking symbol i.e., "$@" is to ensure that we do not fall victim to parsing error due to use of common delimiters like commas(,) in user-code.
      {% endcomment %}

      {% assign link_joiner_delimiter = '$@' %}
      {% for item in content_array %}
      	{% if forloop.index > 1 %}

      		{% comment %}
      		Same as the first comment, but for closing brackets
      		{% endcomment %}

      		{% assign itemparts = item | split:link_close_delimiter %}

      		{% comment %}
      		itempart[0] contains the link in the case of internal link and both link as well as url in case of external link
      		{% endcomment %}

          {% assign internal_link = itemparts[0] %}
      		{% assign external_link = itemparts[0] | split:external_link_delimiter %}

      		{% comment %}
      		external_link[1] will be zero only when it is an internal link as we are splitting itemparts by :: in the previous line
      		{% endcomment %}

      		{% if external_link[1] == nil %}
      			{% comment %}
      			result_collection will contain the yaml matter of the page with title present in itemparts[0] i.e., title mentioned in double brackets in the current page as a link.
      Note: you must replace the collection_name here with your own collection name.
      			{% endcomment %}

            {% assign result_notes = site.notes | where: 'title',itemparts[0] %}
            {% assign result_posts = site.posts | where: 'title',itemparts[0] %}
            {% assign internal_links = internal_links | append: link_joiner_delimiter | append: internal_link %}
            {%- assign internal_urls = internal_urls | append: link_joiner_delimiter | append: result_notes[0].url | append: result_posts[0].url  -%}
      		{% else %}
      			{% assign external_links = external_links | append: link_joiner_delimiter | append: external_link[0] %}
      			{% assign external_urls = external_urls | append: link_joiner_delimiter | append: external_link[1] %}
      		{% endif %}
      	{% endif %}
      {% endfor %}


      {% comment %}
      Store all links and urls in separate arrays
      {% endcomment %}

      {% assign internal_url_array = internal_urls | split:link_joiner_delimiter %}
      {% assign internal_link_array = internal_links | split:link_joiner_delimiter %}
      {% assign external_url_array = external_urls | split:link_joiner_delimiter %}
      {% assign external_link_array = external_links | split:link_joiner_delimiter %}

      {% comment %}
      Store the content to changed in the replaced_content variable
      {% endcomment %}

      {% assign replaced_content = page.content %}

      {% for title in internal_link_array %}
      	{% assign url = internal_url_array[forloop.index0] %}

      	{% if url == nil %}
      		{% assign link_text = '<a style="background-color:#e9e9e9;" href="' | append: 'javascript:void(0)' | append: '">' | append: title | append: '</a>' %}
      	{% elsif url == empty %}
      		{% assign link_text = '<a style="background-color:#e9e9e9;" href="' | append: 'javascript:void(0)' | append: '">' | append: title | append: '</a>' %}
      	{% else %}
      		{% assign link_text = '<a  href="' | append: url | append: '">' | append: title | append: '</a>' %}
      	{% endif %}

      	{% assign bracket_link = link_open_delimiter| append: title | append: link_close_delimiter %}
      	{% assign replaced_content = replaced_content | replace: bracket_link,link_text %}
      {% endfor %}
      {% for title in external_link_array %}
      	{% assign url = external_url_array[forloop.index0] %}

      	{% assign link_text = '<a href="' | append: url | append: '">' | append: title | append: '</a>' %}



      	{% assign bracket_link = link_open_delimiter | append: title | append: external_link_delimiter | append: url | append: link_close_delimiter %}
      	{% assign replaced_content = replaced_content | replace: bracket_link,link_text %}
      {% endfor %}
      {{ replaced_content | markdownify }}
    </content>

    <side style="font-size: 0.9em">
      <h3 style="margin-bottom: 1em; font-size:95%; font-weight:500">Notes mentioning this note</h3>
      {% if page.backlinks.size > 0 %}
      <div style="display: grid; grid-gap: 1em; grid-template-columns: repeat(1fr);">
      {% for backlink in page.backlinks %}
        <div class="backlink-box">
        <a href="{{ backlink.url }}" style="font-size:80%; font-weight:500;">{{ backlink.title }}</a><br>
        <div style="font-size: 0.9em; font-weight:300; font-size:70%;">{{ backlink.excerpt | strip_html | truncatewords: 20 }}</div>
        </div>
      {% endfor %}
      </div>
      {% else %}

      <div style="font-size: 0.9em">
        <p>
          There are no notes linking to this note.
        </p>
      </div>
      {% endif %}
    </side>
  </div>

</article>