{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}

<style>

body{
  background-color:#f3f3f3;
}

  .notepreview{
    display:none;
  }

  .notelink{
    position:relative;
  }

  .notelink:hover .notepreview{
    display:block;
    position:absolute;
    top:0px;
    right:-310px;
    top:-50px;
    box-shadow: 0px 6px 20px 0px rgba(0,0,0,.15);
    width:300px;
    max-height:300px;
    border:1px solid #e8fdf5;
    padding:20px;
    font-size:12px;
    line-height:18px;
    background-color:white;
    border-radius:6px;
  }

  .notepreview:before{
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;
    
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; 
    border-right:8px solid white;
    left:-8px;
    
    top:50px;
}

</style>

<div class="mw8 center lh-copy f4 postcontainer ph3 ph0-l shadow-4 bg-white br3">
    <div class="pt4 pt5-l w-two-thirds-ns">
  
        <h1 class="f4 f3-l fw8 lh-solid mv1 posttitle">{{page.title}}</h1>
  
    </div>
    
    
    <div class="w-two-thirds-ns">
  
  {{content}}
                                    
      <div class="bg-washed-green pa2 bi-links">
        Notes linking to this one:

      </div>

</div>
</div>

<script>
    $( document ).ready(function() {
      var regex = /\[\[(.+?)\]\]/g;
      var notes_array = [];
      var pagelinks_array = [];
      var page_name = decodeURIComponent(window.location.pathname.split("/")[2]);

      $(".postcontainer").html(function(i, html) { 
      pagelinks_array.push(html.match(regex));  
      return html.replace(regex, "<a class='notelink' data-note-title='$1' href='/notes/$1'>$1</a>");
      });
      
      $.getJSON("/notes.json", function(results){
        console.log(results);

        for(var i in results){
          notes_array.push(results[i]);
          notes_array[i].links = results[i].content.match(regex);
        };

        for(var note in notes_array){
          for(var i in notes_array[note].links){
            console.log(notes_array[note].links[i]);
            if(notes_array[note].links[i] == "[["+page_name+"]]"){
             $(".bi-links").append("<div><a href='"+notes_array[note].url+"'>"+notes_array[note].url+"</a></div>");
              console.log("match!")
            }
          }
        }

        $(".notelink").each(function(){
          for(var i in notes_array){
            if(notes_array[i].title == $(this).attr("data-note-title")){
              $(this).append("<div class='notepreview'>"+notes_array[i].content+"</div>")
            }
          }
          
        });

        console.log(notes_array);
        console.log(pagelinks_array);
      });

  }); 
  
  

  
  </script>  


{% include footer.html %}