{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}

<style>

body{
  background-color:#f3f3f3;
}

.postcontainer img{
  max-width:100%;
}

  .notepreview{
    display:none;
  }

  .notelink{
    position:relative;
  }

  .notelink:hover .notepreview{
    display:block;
    position:absolute;
    top:30px;
    left:0px;
    box-shadow: 0px 6px 20px 0px rgba(0,0,0,.15);
    width:300px;
    max-height:300px;
    border:1px solid #e8fdf5;
    padding:20px;
    font-size:12px;
    line-height:18px;
    background-color:white;
    border-radius:6px;
    z-index:10;
  }

</style>

<div class="w-100-l w-90 center">

<div class="mw7 center f6 breadcrumb mv2"><a href="/notes">Notes</a> > Last note: </div>

<div class="mw7 center lh-copy f4 postcontainer ph3 ph0-l shadow-4 bg-white br3 mv4">
    <div class="pt4 ph4">
  
        <h1 class="f4 f3-l fw8 lh-solid mv1 posttitle">{{page.name | replace: '.md', '' }}</h1>
  
    </div>
    
    
    <div class="pb4 ph4">
  
  {{content}}
                                    


</div>
</div>

<div class="mw7 center pa2 bi-links">
    Notes linking to this one:

  </div>
</div>
<script>
    $( document ).ready(function() {
      
      var imageregex = /\!\[\[(.+?)\]\]/g
      var linkregex = /\[\[(.+?)\]\]/g;
      var notes_array = [];
      var pagelinks_array = [];
      var page_name = decodeURIComponent(window.location.pathname.split("/")[2]);
      var pagehash = $(location).attr('hash').replace("#","");

      if($(location).attr('hash')){
        $(".breadcrumb").append(pagehash)
      }

      $(".postcontainer").html(function(i, html) { 
      pagelinks_array.push(html.match(linkregex));  
      var newhtml = html.replace(imageregex, "<img src='/notes/$1' />");
      return newhtml.replace(linkregex, "🌱<a class='notelink' data-note-title='$1' href='/notes/$1'>$1</a>");
      });
      
      $.getJSON("/notes.json", function(results){
        console.log(results);

        for(var i in results){
          notes_array.push(results[i]);
          notes_array[i].links = results[i].content.match(linkregex);
        };

        for(var note in notes_array){
          for(var i in notes_array[note].links){
            console.log(notes_array[note].links[i]);
            if(notes_array[note].links[i] == "[["+page_name+"]]"){
             $(".bi-links").append(`<div class="bg-washed-green shadow-4 br2 mv2 pa2">
             <a href="${notes_array[note].url}">${notes_array[note].url}</a>${notes_array[note].content}
             </div>
             `);
              console.log("match!")
            }
          }
        }

        if ($(window).width() < 960) {
          
        }else{
          $(".notelink").each(function(){
          for(var i in notes_array){
            if(notes_array[i].title == $(this).attr("data-note-title")){
              $(this).append("<div class='notepreview'>"+notes_array[i].content.replace(linkregex, "🌱<a class='notelink' data-note-title='$1' href='/notes/$1'>$1</a>")+"</div>")
            }
          }
          })
        }

        console.log(notes_array);
        console.log(pagelinks_array);
      });

  }); 
  
  

  
  </script>  


{% include footer.html %}