{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}

<style>
body{
background-color:#FFFFF8;
}

header{
  border-left:8px solid black;
}

p a{
  box-shadow:initial;
}

p a:hover{
  box-shadow:initial;
}

.postcontainer{
  font-family:Palatino;
}

.postcontainer p{
  font-family:Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.f-subheadline-l{
  font-size:3.5rem;
}

.postcontainer a{
  color: #00991F !important;
  text-decoration-color: #00991F;
}

footer{
  min-height:initial;
}

</style>

<div class="mw9 center lh-copy f4 postcontainer ph3 ph6-l">
  <div class="pt4 pt5-l w-two-thirds-ns">
  
  <h1 class="f2 f-subheadline-l pt4 fw4 mv0-l mv2 posttitle lh-solid">The Strategic Independent</h1>
  
  <h2 class="f2-l f3 fw3 lh-copy mv0 subtitle"><em>Theory & Practice for Independent Consultants</em></h2>
  
  
  </div>
  
  
  <div class="w-50-ns">

    <p>I’ve been an independent consultant for almost 6 years and have learned some things. But most importantly I’ve found that being independent requires a level of introspection and self-reflection that few talk about.</p>

    <p>So I'm writing a book - serialized free online - about the art and science of independent consulting. Shipping end of 2021.</p>
    
    <form class="" action="https://tinyletter.com/tomcritchlow" method="post" target="popupwindow">
      <fieldset class="cf bn ma0 pa0">
        <div class="cf f5 helvetica">
          <div class="red i pb2">Sign up to get notified of new chapters</div>
          <label class="clip" for="email-address">Email Address</label>
          <input class="input-reset ba b--black-10 fl black-80 bg-white pa2 pv3 lh-solid w-70 w-75-m w-70-l br2-ns br--left-ns" placeholder="Your Email Address" type="text" name="email" value="" id="email-address">
          <input type="hidden" value="1" name="embed">
          <input class="button-reset fl pv3 tc ba b--black-10 bg-animate bg-green hover-bg-dark-green white pointer w-30 w-25-m w-30-l br2-ns br--right-ns" type="submit" value="Subscribe">
        </div>
      </fieldset>
    </form>
                      
  
  </div>


{% for section in site.data.chapters %}

<section class="w-100 cf mt5">

    <h3 class="f4 fw8 mt0 mb3 bb pb2 b--light-silver">{{section.title}}</h3>

    <div class="w-50-l fl pt3 pr3">
      <p class="mt0"><em>{{section.blurb}}</em></p>
    </div>

    <div class="w-50-l fl pa3-l pv3-l pv3">

        {% for chapter in section.chapters %}
        {% if chapter.url%}
        <div class="pb4">
            <div class="f3"><a href="{{chapter.url}}">{{chapter.title}}</a></div>
            <div class="f5">{{chapter.subtitle}}</div>
          </div>
        {% else %}
        <div class="pb4">
            <div class="f3 light-silver">{{chapter.title}}</div>
            <div class="f5">{{chapter.subtitle}}</div>
        </div>
        {% endif %}

        {% endfor %} 
        
    </div>

  </section>

{% endfor %}

             

  </div>

{% include strategy-footer.html %}