{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}

<style>
body{
background-color:#FEF1E9;
}

.postcontainer{
  font-family:Palatino;
}

.postcontainer p{
  font-family:Palatino;
}

.f-subheadline-l{
  font-size:3.5rem;
}

</style>

<div class="mw9 center lh-copy f4 postcontainer ph3 ph6-l">
  <div class="pt4 pt5-l w-two-thirds-ns">
  
  <h1 class="f2 f-subheadline-l pt3 fw4 mv0 posttitle lh-solid">The Strategic Independent</h1>
  
  <h2 class="f2 fw3 lh-copy mv0 subtitle"><em>Theory & Practice for Independent Consultants</em></h2>
  
  
  </div>
  
  
  <div class="w-50-ns">
  
  <p>I’ve been an independent consultant for almost 6 years and have learned some things. But most importantly I’ve found that being independent requires a level of introspection and self-reflection that few talk about.</p>

    <p>This is a project to write a book - serialized free online about the art and science of independent consulting.</p>
    
    <p>✉ Join the email list to get updates (~ monthly emails)</p>
                      
  
  </div>

  <section class="w-100">

    <h3 class="f6 ttu fw6 mt0 mb3 bb pb2">1. Becoming Independent</h3>

    <div class="w-50-l fl pa2">
      <p>Navigating the gap between potential client and confirmed project can be tricky. Getting caught up in SOWs, or structuring projects that don’t set you up for success.</p>
    </div>

    <div class="w-50-l fl pa2">
        <div class="">
          <div class=""><a href="">The Strategic Independent</a></div>
          <div class="">How to do better work for more money, whether you're a designer, writer or strategist.</div>
        </div>
        <div class="">
            <div class=""><a href="">The Strategic Independent</a></div>
            <div class="">How to do better work for more money, whether you're a designer, writer or strategist.</div>
          </div>


    </div>


  </section>


  </div>


{% include footer.html %}