{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}

<style>
body{
background-color:#FEF1E9;
}

.postcontainer{
  font-family:Palatino;
}

.f-subheadline-l{
  font-size:3.5rem;
}

</style>

<div class="mw9 center lh-copy f4 postcontainer ph3 ph6-l">
  <div class="pt4 pt5-l w-two-thirds-ns">
  
  <h1 class="f2 f-subheadline-l pt3 fw4 mv0 posttitle lh-solid">The Strategic Independent</h1>
  
  <h2 class="f2 fw3 lh-copy mv0 subtitle"><em>Theory & Practice for Independent Consultants</em></h2>
  
  
  </div>
  
  
  <div class="w-two-thirds-ns">
  
  
                      
  
  </div>
  </div>


{% include footer.html %}