{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}
<style>
  html{
    -webkit-font-smoothing: initial;
    font-smoothing: initial;
  }
  
  body{
background-color:#FFFFF8;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  margin-bottom:2px
  
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

header{
  border-left:8px solid black;
}

p a{
  box-shadow:initial;
}

p a:hover{
  box-shadow:initial;
}

.postcontainer{
  font-family:Palatino;
}

.postcontainer p, .postcontainer ul, .postcontainer ol, .postcontainer li{
  font-family:Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  line-height:30px;
  font-size:21px;
}

.postcontainer h2, .postcontainer h3, .postcontainer h4, .postcontainer h5{
  font-style:italic;
  font-weight:normal;
}

.f-subheadline-l{
  font-size:3.5rem;
}

.postcontainer a{
  color: rgb(173, 48, 2) !important;
  text-decoration-color: rgb(173, 48, 2);
}

footer{
  min-height:initial;
}

details > details{
  border:1px solid rgb(173, 48, 2);
  border-radius:4px;
  margin:10px;
  padding:10px;
}

</style>

<div class="mw8 center f4 postcontainer ph3 ph0-l h-entry" role="article">

  <div class="f5 silver w-70-ns i mt4 pv1">
    <details>
      <summary>The Strategic Independent: Theory & Practice for Independent Consultants (+ expand outline)</summary>

      <p>The Strategic Independent is a book project to explore the theory and practice of independent consulting. <a href="/strategy">See the book overview here</a>.</p>

      <details>
        <summary>Chapter 1: The Strategic Independent</summary>
        <ul>
          <li>
            1) The Strategic Independent
          </li>
          <li>
            2) Narrative Institutions
          </li>
        </ul>
      </details>

      <details>
          <summary>Chapter 2: Finding Work</summary>
          <ul>
            <li>
              1) The Strategic Independent
            </li>
            <li>
              2) Narrative Institutions
            </li>
          </ul>
        </details>      

    </details>
    
  </div>

  <div class="pt5 pt6-l w-70-ns">
  
      <h1 class="f2 f-subheadline-l fw4 lh-solid mv3 posttitle p-name">{{page.title}}</h1>

    {% if page.subtitle %}
    <h2 class="f3 fw3 lh-title mt1 subtitle p-summary"><em>{{page.subtitle}}</em></h2>
      {% endif %}

    {% if page.date %}
    <div class="f6 f6-s black-50 pv3 dt-published" datetime="{{ page.date}}">{{ page.date | date: "%B %-d, %Y" }}</div>
      {% endif %}
  </div>
  
  
  <div class="w-70-ns lh-copy e-content">
  


  {{content}}

  <hr class="w3 mv5">

  




<script>

    $( document ).ready(function() {
        var footnotes = $(".footnotes p");
        $("sup").each(function(index){
            var fn = footnotes[index].removeChild(footnotes[index].lastChild);
            $(this).replaceWith("<label for='"+index+"' class='margin-toggle sidenote-number'></label><input type='checkbox' id='"+index+"' class='margin-toggle'/><span class='sidenote'>"+footnotes[index].innerHTML+"</span>")  
        });   
        $(".footnotes").hide()
    });    
    
    
    </script>

<script type="application/json" class="js-hypothesis-config">
  {
    "openSidebar": false,
    "theme": "clean"
  }
</script>

<script src="https://hypothes.is/embed.js" async></script>

<script type="text/javascript">

window.hypothesisConfig = function () {
  return {
    branding: {
      appBackgroundColor: 'white',
      ctaBackgroundColor: 'rgba(3, 11, 16, 1)',
      ctaTextColor: '#eee',
      selectionFontFamily: 'helvetica, arial, sans serif'
    }
  };
};

</script>

<script defer src="https://cdn.commento.io/js/commento.js"></script>
<div id="commento"></div>


</div>
</div>



{% include footer.html %}