{% include head.html %}

{% include header.html %}

{% include googleanalytics.html %}

{% include wikiheader.html %}

<div id="grey pt1 pb1">
    {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
    <a href="/">home</a> / 
    {% for crumb in crumbs offset: 1 %}
      {% if forloop.last %}
        {{ crumb | replace:'-',' ' | remove:'.html' }}
      {% else %}
        <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' }}</a> /
      {% endif %}
    {% endfor %}
    </div>

{% if page.title %}
    <h1>{{page.title}}</h1>
{% endif %}

{{ content }}

{% for book in page.books | sort:"date_finished" %}
<div class="pa2 bb dib" id="{{forloop.index}}">

<div class="w-25 fl pa4-l">
  {% if book.link %}
  <a href="{{book.link}}">
  {% elsif book.href %}
  <a href="{{book.href}}">
  {% endif %}  
    {% if book.image %}
      <img src="{{book.image}}" />
      {% else %}
      {% assign bookimage = book.link | split:"/" %}
      <img src="http://images.amazon.com/images/P/{{bookimage | last}}.01.LZZZZZZ.jpg" />
    {% endif %}
  {% if book.link %}
  </a>
  {% elsif book.href %}
  </a>
  {% endif %}    
</div>

<div class="w-75 fl pa4-l pl3">
  <h2 class="ma0">{{book.title}}</h2>
  <h3 class="ma0">by {{book.author}}</h3>
  {% if book.date_finished %}<div class="gray f5 mt2 mb2">Finished on {{book.date_finished}}</div>{% endif %}
  <p class="">{{book.notes}}</p>
</div>


</div>
{% endfor %}

</div>

{% include wikifooter.html %}