{% include head.html %}

{% include googleanalytics.html %}

{% include wikiheader.html %}

{% assign folderfilter = page.path | replace: "/index.html" , "" %}

{% assign path = page.path | split:"/" %}

<div class="f5 grey pt1 pb1">
{% for item in path %}
> <a href="#">{{item}}</a>
{% endfor %}
</div>

<div id="breadcrumbs">
    {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
    <a href="/">Home</a>
    {% for crumb in crumbs offset: 1 %}
      {% if forloop.last %}
        / {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
      {% else %}
        / <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
      {% endif %}
    {% endfor %}
    </div>

{{content}}

{% assign notes = site.pages | where_exp: "item" , "item.path contains folderfilter"%}

{% for item in notes %}
    {% unless item.path contains "index.html" %}
        <a href="{{item.url}}">{{item.path}}</a>
    {% endunless %}
{% endfor %}

{% for image in site.static_files %}
    {% if image.path contains folderfilter %}
        <img class="w-20" src="{{ site.baseurl }}{{ image.path }}" alt="image" />
    {% endif %}
{% endfor %}

</div>