{% include head.html %}

{% include googleanalytics.html %}

{% include wikiheader.html %}

{% assign folderfilter = page.path | replace: "/index.html" , "" %}

{% assign path = page.path | split:"/" %}

<div id="grey pt1 pb1">
    {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
    <a href="/">home</a> / 
    {% for crumb in crumbs offset: 1 %}
      {% if forloop.last %}
        {{ crumb | replace:'-',' ' | remove:'.html' }}
      {% else %}
        <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' }}</a> /
      {% endif %}
    {% endfor %}
    </div>

{{content}}

{% assign notes = site.pages | where_exp: "item" , "item.path contains folderfilter" | sort:"pinned" | reversed %}

{% for item in notes %}
    {% unless item.path contains "index.html" %}
        {%if item.pinned %}📌{% endif %} <a href="{{item.url}}">{{item.path}}</a><br>
    {% endunless %}
{% endfor %}

{% for image in site.static_files %}
    {% if image.path contains folderfilter %}
        <img class="w-20" src="{{ site.baseurl }}{{ image.path }}" alt="image" />
    {% endif %}
{% endfor %}

</div>